.button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  white-space: nowrap;
  padding: 13px 40px;
  height: 50px;
  min-width: 200px;
}

.button__primary {
  background: -webkit-gradient(linear, left bottom, left top, from(var(--primary-color-2)), to(var(--primary-color)));
  background: linear-gradient(0deg, var(--primary-color-2) 0%, var(--primary-color) 100%);
  border: 1px solid var(--primary-color);
  -webkit-box-shadow: 0px 1px 1px rgba(var(--box-shadow), 0.1), inset 0px 2px 0px rgba(var(--color-white-rgb), 0.06);
          box-shadow: 0px 1px 1px rgba(var(--box-shadow), 0.1), inset 0px 2px 0px rgba(var(--color-white-rgb), 0.06);
  color: var(--color-white-100);
}

.button__small {
  height: 38px;
  padding: 8px 30px;
}

.button__deactivate {
  background: var(--color-deactivate);
  border: 1px solid var(--color-primary-500);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 1px rgba(var(--box-shadow), 0.05), inset 0px 2px 0px rgba(var(--color-white), 0.05);
          box-shadow: 0px 1px 1px rgba(var(--box-shadow), 0.05), inset 0px 2px 0px rgba(var(--color-white), 0.05);
  color: var(--color-white-100);
  height: 56px;
}

.button__white {
  background: -webkit-gradient(linear, left bottom, left top, from(var(--color-off-white)), to(var(--color-white)));
  background: linear-gradient(0deg, var(--color-off-white) 0%, var(--color-white) 100%);
  border: 1px solid var(--line-border);
  -webkit-box-shadow: 0px 1px 1px rgba(var(--box-shadow), 0.05), inset 0px 2px 0px rgba(var(--color-white-rgb), 0.05);
          box-shadow: 0px 1px 1px rgba(var(--box-shadow), 0.05), inset 0px 2px 0px rgba(var(--color-white-rgb), 0.05);
  color: var(--secondary-color);
}

.button__no-style {
  background: none;
  border: none;
  color: var(--primary-color);
}

.button__no-style:hover, .button__no-style:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(var(--box-shadow), 0.05), inset 0px 2px 0px rgba(var(--color-white-rgb), 0.05);
          box-shadow: 0px 1px 1px rgba(var(--box-shadow), 0.05), inset 0px 2px 0px rgba(var(--color-white-rgb), 0.05);
}

.input {
  margin-bottom: 24px;
  width: 100%;
  position: relative;
}

.input input,
.input select,
.input textarea {
  background: var(--color-white);
  border: 1px solid var(--line-border);
  border-radius: 4px;
  padding: 13px 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 8px;
  min-height: 50px;
  width: 100%;
}

.input input.danger,
.input select.danger,
.input textarea.danger {
  border: 1px solid var(--color-danger);
}

.input input::-webkit-input-placeholder, .input input:disabled,
.input select::-webkit-input-placeholder,
.input select:disabled,
.input textarea::-webkit-input-placeholder,
.input textarea:disabled {
  color: rgba(var(--grey-color-rgb), 0.24);
}

.input input:-ms-input-placeholder, .input input:disabled,
.input select:-ms-input-placeholder,
.input select:disabled,
.input textarea:-ms-input-placeholder,
.input textarea:disabled {
  color: rgba(var(--grey-color-rgb), 0.24);
}

.input input::-ms-input-placeholder, .input input:disabled,
.input select::-ms-input-placeholder,
.input select:disabled,
.input textarea::-ms-input-placeholder,
.input textarea:disabled {
  color: rgba(var(--grey-color-rgb), 0.24);
}

.input input::placeholder, .input input:disabled,
.input select::placeholder,
.input select:disabled,
.input textarea::placeholder,
.input textarea:disabled {
  color: rgba(var(--grey-color-rgb), 0.24);
}

.input input:focus,
.input select:focus,
.input textarea:focus {
  background: rgba(var(--primary-color-rgb), 0.04);
  border: 1px solid var(--primary-color);
  outline: var(--primary-color);
  padding: 6px 20px;
}

.input label {
  text-transform: capitalize;
  color: var(--grey-alt);
  position: absolute;
  margin-left: 20px;
  top: 23px;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}

.input input:focus + label {
  margin-left: 19px;
  top: 12px;
}

.input__error {
  margin-top: 8px;
}

.input__error img {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.input__error__success {
  color: var(--color-success);
}

.input__error__info {
  color: var(--primary-color);
}

.input__error__warning {
  color: var(--color-warning);
}

.input__error__danger {
  color: var(--color-danger);
}

.page {
  background: var(--color-background);
}

.page .heading {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: var(--color-black);
  margin-bottom: 8px;
}

.page .heading-sub {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: var(--grey-color);
}

.page .container {
  max-width: 1375px;
  margin: 32px auto;
  background-color: var(--color-white);
  padding: 100px;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid__with-margin {
  margin-bottom: 40px;
}

.grid__col-3 {
  -ms-grid-columns: (minmax(357px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(357px, 1fr));
  gap: 32px;
}

.grid__col-4 {
  -ms-grid-columns: (minmax(257px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(257px, 1fr));
  gap: 32px;
}

.flex, .input, .input__error, .modal--head, .modal--footer, .alert, .alert .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.flex__with-margin {
  margin-bottom: 40px;
}

.flex__row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.flex__column, .input {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.flex__column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
}

.flex__align-items-center, .input__error, .modal--head {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex__align-items-start, .alert {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex__wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex__justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex__justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex__justify-between, .modal--head, .modal--footer, .alert .header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 50px;
}

.table thead {
  background: var(--color-primary-500);
}

.table thead th {
  text-align: left;
  color: var(--color-black);
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

.table thead th:first-child {
  padding-left: 16px;
}

.table tbody tr:last-of-type {
  border-bottom: 1px solid var(--line-border);
}

.table tbody tr:hover, .table tbody tr:focus {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background: rgba(var(--primary-color-rgb), 0.05);
  border-radius: 8px;
}

.table tbody tr td > div {
  padding-top: 10px;
  padding-bottom: 10px;
  white-space: nowrap;
  text-transform: capitalize;
}

.table tbody tr td:first-child > div {
  padding-left: 16px;
}

.table__no-style {
  background: var(--color-white);
  border: 1px solid var(--line-border);
  border-radius: 10px;
}

.table__no-style thead {
  background: var(--color-white);
  border-radius: 10px;
  border-bottom: 1px solid var(--line-border);
}

.table__no-style thead th {
  color: var(--color-black);
  text-transform: uppercase;
  white-space: nowrap;
  padding-top: 18px;
  padding-bottom: 18px;
}

.table__no-style thead th:first-child {
  padding-left: 16px;
}

.table__no-style tbody tr:not(:last-of-type) {
  border-bottom: 1px solid var(--line-border);
}

.table__no-style tbody tr:hover, .table__no-style tbody tr:focus {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background: var(--color-light);
  border-radius: 8px;
}

.table__no-style tbody tr td > div {
  color: var(--grey-color);
}

._overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--color-dark), 0.5);
}

.modal {
  position: fixed;
  width: 100%;
  max-width: 600px;
  background: var(--color-white);
}

.modal__center {
  width: 420px;
  border-radius: 16px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal__right {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  top: 0;
  right: 0;
  bottom: 0;
  left: unset;
  max-width: 460px;
}

.modal__right .modal--body {
  min-height: calc(100vh - (113px + 75px));
}

.modal--head {
  border-bottom: 1px solid var(--line-border);
  padding: 24px;
  margin-bottom: 24px;
}

.modal--body {
  padding: 0 24px 24px;
  height: calc(100vh - (113px + 75px));
  overflow: auto;
}

.modal--footer {
  border-top: 1px solid var(--line-border);
  padding: 11px 24px;
  border-radius: 0px 0px 16px 16px;
}

.modal--footer__with-shadow {
  -webkit-box-shadow: 20px 0px 34px rgba(var(--color-dark), 0.05);
          box-shadow: 20px 0px 34px rgba(var(--color-dark), 0.05);
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 8px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

.font-black {
  color: var(--color-black);
}

.display {
  font-weight: bold;
  line-height: 130%;
}

.display__large {
  font-size: 56px;
}

.display__medium {
  font-size: 48px;
}

.display__regular {
  font-size: 32px;
}

.display__small {
  font-size: 24px;
}

.font__20px {
  font-size: 20px;
  line-height: 30px;
}

.font__18px {
  font-size: 18px;
  line-height: 30px;
}

.font__16px, .button, .button__deactivate, .button__no-style, .subtitle, .alert .header {
  font-size: 16px;
  line-height: 24px;
}

.font__14px, .button__small, .button__white, .input input,
.input select,
.input textarea, .input label, .table thead th, .table tbody tr td > div, .table__no-style tbody tr td > div, .alert {
  font-size: 14px;
  line-height: 22px;
}

.font__12px, .table__no-style thead th {
  font-size: 12px;
  line-height: 20px;
}

.font__10px, .input input:focus + label {
  font-size: 10px;
  line-height: 150%;
}

.font__weight-400 {
  font-weight: 400;
}

.font__weight-500, .button, .button__small, .button__deactivate, .button__white, .input input,
.input select,
.input textarea, .input label, .table thead th, .table__no-style tbody tr td > div {
  font-weight: 500;
}

.font__weight-600, .button__no-style {
  font-weight: 600;
}

.font__weight-700, .table__no-style thead th {
  font-weight: 700;
}

.font__weight-800 {
  font-weight: 800;
}

.font__weight-900 {
  font-weight: 900;
}

.subtitle {
  color: var(--grey-color);
}

.card {
  background: var(--color-white);
  border: 1px solid var(--line-border);
  border-radius: 8px;
  padding: 32px;
}

.card.with-shadow {
  -webkit-box-shadow: 0px 2px 4px rgba(12, 26, 75, 0.04), 0px 4px 20px -2px rgba(50, 50, 71, 0.08);
          box-shadow: 0px 2px 4px rgba(12, 26, 75, 0.04), 0px 4px 20px -2px rgba(50, 50, 71, 0.08);
  border: none;
}

.dropdown {
  background: var(--color-white);
  border: 1px solid var(--line-border);
  -webkit-box-shadow: 0px 2px 8px rgba(var(--drop-shadow), 0.08), 0px 3px 8px -1px rgba(var(--drop-shadow-2), 0.05);
          box-shadow: 0px 2px 8px rgba(var(--drop-shadow), 0.08), 0px 3px 8px -1px rgba(var(--drop-shadow-2), 0.05);
  border-radius: 12px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.dropdown .title {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: var(--grey-color);
  padding: 24px 32px 18px 32px;
}

.dropdown ul li {
  padding: 18px 32px 16px 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: var(--color-black);
}

.dropdown ul li.danger {
  color: var(--danger-color);
}

.dropdown ul li.active, .dropdown ul li:hover {
  background: var(--color-primary-500);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.dropdown .base-button {
  background: var(--color-white-100);
  border: 1px solid var(--line-border);
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: var(--color-black);
  border-radius: 0px 0px 12px 12px;
  padding: 26px 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.dropdown .base-button img {
  height: 20px;
  width: 20px;
  margin-right: 12px;
}

.dropdown__profile .title {
  padding: 24px 32px 16px 32px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: var(--color-black);
  margin-bottom: 4px;
  border-bottom: 1px solid var(--line-border);
}

.dropdown__profile .title-sub {
  font-size: 12px;
  line-height: 20px;
}

.dropdown__profile ul li {
  padding: 18px 32px 16px 32px;
  color: var(--grey-color);
}

.dropdown__profile ul li.logout {
  border-top: 1px solid var(--line-border);
  padding: 32px;
}

.dropdown__profile ul li.logout a {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: var(--danger-color);
}

.dropdown__filter {
  background: var(--color-off-white);
  border: 1px solid var(--line-border);
  -webkit-box-shadow: 0px 2px 8px rgba(var(--drop-shadow), 0.08), 0px 3px 8px -1px rgba(var(--drop-shadow-2), 0.05);
          box-shadow: 0px 2px 8px rgba(var(--drop-shadow), 0.08), 0px 3px 8px -1px rgba(var(--drop-shadow-2), 0.05);
  border-radius: 12px;
  padding: 32px 16px;
}

.alert {
  border-radius: 8px;
  padding: 9px 16px;
  color: var(--color-black);
}

.alert img {
  margin-right: 16px;
  height: 24px;
  width: 24px;
}

.alert__warning {
  background: var(--alert-danger-line);
  border: 1px solid var(--alert-danger);
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid var(--line-border);
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs .tabs {
  border: none;
}

.tabs .tab {
  padding: 18px 16px;
  text-transform: capitalize;
}

.tabs .tab.active {
  position: relative;
}

.tabs .tab.active::after {
  content: '';
  bottom: 0px;
  height: 3px;
  width: 100%;
  left: 0;
  right: 0;
  background: var(--primary-color);
  border-radius: 16px 16px 0px 0px;
  position: absolute;
}

body {
  background-color: var(--color-background);
  overflow-x: hidden;
}

body,
html {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  color: #000624;
  scroll-behavior: smooth;
  background: #fafafe;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 300;
  font-family: "Inter", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 300;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
button,
body,
html {
  margin: 0;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pointer-cursor {
  cursor: pointer;
}

.display-none {
  display: none;
}

.text-capitalize {
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

strong {
  font-weight: bold;
}

/*----- scrollbar styles ------*/
*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* track */
*::-webkit-scrollbar-track {
  background: transparent;
}

/* handle */
*::-webkit-scrollbar-thumb {
  background: #d9d8d8;
  border-radius: 10px;
}

hr {
  height: 0;
  border: none;
  border-top: 1px solid #eee;
  margin: 0;
}

:root {
  --color-light: #f8f8fa;
  --color-background: #fafafe;
  --color-black: #000624;
  --color-black-rgb: 30, 17, 71;
  --color-dark: 0, 0, 0;
  --color-white: #fff;
  --color-white-100: #fcfcfc;
  --color-white-rgb: 255, 255, 255;
  --color-off-white: #f6f7f9;
  --color-deactivate: #ff554a;
  --color-primary-500: #edf2f7;
  --secondary-color: #32587d;
  --primary-color: #477db3;
  --primary-color-2: #376da4;
  --primary-color-rgb: 71, 125, 179;
  --primary-color-inverse: #ffffff;
  --success-color: #1f9c6a;
  --danger-color: #f25a68;
  --danger-color-rgb: 238, 0, 5;
  --grey-color: #737a91;
  --grey-alt: #a5abc1;
  --grey-color-rgb: 30, 17, 71;
  --line-border: #edeff5;
  --box-shadow: 22, 29, 37;
  --drop-shadow: 12, 26, 75;
  --drop-shadow-2: 50, 50, 71;
  --alert-danger: #ffa39e;
  --alert-danger-line: #fff1f0;
  --color-warning: #f0ad4e;
  --color-danger: #ff554a;
  --color-success: #66d49a;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a:hover {
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */