.button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  white-space: nowrap;
  padding: 13px 40px;
  height: 50px;
  min-width: 200px;
}

.button__primary {
  --btn-color: linear-gradient(0deg, var(--primary-color-2) 0%, var(--primary-color) 100%);
  --btn-color-hover: 0px 1px 1px rgba(var(--box-shadow), 0.1), inset 0px 2px 0px rgba(var(--color-white-rgb), 0.06);
  --btn-text-color: var(--color-white-100);
  border: 1px solid var(--primary-color);
  background: var(--btn-color);
  color: var(--btn-text-color);
}

.button__danger {
  --btn-color: var(--danger-color);
  --btn-color-hover: rgba(var(--danger-color-rgb), 0.03);
  --btn-text-color: var(--primary-color-inverse);
  background: var(--btn-color);
  color: var(--btn-text-color);
}

.button__small {
  height: 38px;
  padding: 8px 30px;
  min-width: unset;
}

.button__small img {
  height: 16px;
  width: 16px;
}

.button__deactivate {
  background: var(--color-deactivate);
  border: 1px solid var(--color-primary-500);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 1px rgba(var(--box-shadow), 0.05), inset 0px 2px 0px rgba(var(--color-white), 0.05);
          box-shadow: 0px 1px 1px rgba(var(--box-shadow), 0.05), inset 0px 2px 0px rgba(var(--color-white), 0.05);
  color: var(--color-white-100);
  height: 56px;
}

.button__white {
  background: -webkit-gradient(linear, left bottom, left top, from(var(--color-off-white)), to(var(--color-white)));
  background: linear-gradient(0deg, var(--color-off-white) 0%, var(--color-white) 100%);
  border: 1px solid var(--line-border);
  -webkit-box-shadow: 0px 1px 1px rgba(var(--box-shadow), 0.05), inset 0px 2px 0px rgba(var(--color-white-rgb), 0.05);
          box-shadow: 0px 1px 1px rgba(var(--box-shadow), 0.05), inset 0px 2px 0px rgba(var(--color-white-rgb), 0.05);
  color: var(--secondary-color);
}

.button__no-style {
  background: none;
  border: none;
  color: var(--primary-color);
}

.button__no-style:hover, .button__no-style:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(var(--box-shadow), 0.05), inset 0px 2px 0px rgba(var(--color-white-rgb), 0.05);
          box-shadow: 0px 1px 1px rgba(var(--box-shadow), 0.05), inset 0px 2px 0px rgba(var(--color-white-rgb), 0.05);
}

.button__more {
  background: var(--color-light);
  border-radius: 4px;
  margin-left: 16px;
  padding-left: 14px;
  padding-right: 14px;
}

.button__more .name {
  max-width: 139px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.button__retry {
  border: none;
  background: var(--color-primary-500);
  border-radius: 4px;
  padding: 6px 9px;
  color: var(--primary-color);
}

.button__retry__force {
  background: var(--color-warning-500);
  color: var(--color-warning);
}

.button__retry img {
  width: 14px;
  height: 14px;
}

.button--full {
  width: 90%;
}

.button--full-100 {
  width: 100%;
}

.button--round {
  border-radius: 50%;
}

.button--has-icon.icon-right img {
  margin-left: 10px;
}

.button--has-icon.icon-left img {
  margin-right: 10px;
}

.button--has-icon.small-icon img {
  height: 16px;
  width: 16px;
}

.button__clear {
  letter-spacing: 0.2px;
  color: var(--primary-color);
  background: transparent;
  border: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
}

.button__clear.dark {
  padding: 10px;
  color: var(--color-black);
}

.button__filter {
  background: var(--color-white-100);
  border: 1px solid var(--line-border-2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  height: 36px;
  padding: 7px 16px;
  min-width: 130px;
  color: var(--grey-color);
}

.button__filter.active {
  border-color: var(--active-border-color);
  -webkit-box-shadow: inset 0px 0px 4px 0px rgba(var(--primary-color-rgb), 1);
          box-shadow: inset 0px 0px 4px 0px rgba(var(--primary-color-rgb), 1);
  color: var(--primary-color);
}

.button__filter img {
  width: 14px;
  height: 14px;
}

.button__filter img.right-image {
  margin-left: auto;
}

.button__filter input {
  border: none;
  background: none;
  max-width: 70px;
}

.button__filter input:focus {
  border: none;
  outline: none;
}

.button--container.margin-top {
  margin-top: 40px;
}

.button--container.margin-bottom {
  margin-bottom: 40px;
}

.button--container img {
  height: 15px;
  width: 15px;
}

.button.margin-top {
  margin-top: 15px;
}

button:hover {
  cursor: pointer;
}

.disabled,
button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
  text-decoration: none;
  pointer-events: none;
  cursor: not-allowed;
}

.input {
  margin-bottom: 24px;
  width: 100%;
  position: relative;
}

.input input,
.input select,
.input textarea {
  background: transparent;
  border: 1px solid var(--line-border);
  border-radius: 4px;
  padding: 13px 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 8px;
  min-height: 50px;
  width: 100%;
}

.input input.danger,
.input select.danger,
.input textarea.danger {
  border: 1px solid var(--color-danger);
}

.input input::-webkit-input-placeholder, .input input:disabled,
.input select::-webkit-input-placeholder,
.input select:disabled,
.input textarea::-webkit-input-placeholder,
.input textarea:disabled {
  color: rgba(var(--grey-color-rgb), 0.24);
}

.input input:-ms-input-placeholder, .input input:disabled,
.input select:-ms-input-placeholder,
.input select:disabled,
.input textarea:-ms-input-placeholder,
.input textarea:disabled {
  color: rgba(var(--grey-color-rgb), 0.24);
}

.input input::-ms-input-placeholder, .input input:disabled,
.input select::-ms-input-placeholder,
.input select:disabled,
.input textarea::-ms-input-placeholder,
.input textarea:disabled {
  color: rgba(var(--grey-color-rgb), 0.24);
}

.input input::placeholder, .input input:disabled,
.input select::placeholder,
.input select:disabled,
.input textarea::placeholder,
.input textarea:disabled {
  color: rgba(var(--grey-color-rgb), 0.24);
}

.input input:focus,
.input select:focus,
.input textarea:focus {
  background: rgba(var(--primary-color-rgb), 0.04);
  border: 1px solid var(--primary-color);
  outline: var(--primary-color);
  padding: 20px 20px 6px 18px;
}

.input input.ng-valid,
.input select.ng-valid,
.input textarea.ng-valid {
  padding: 20px 20px 6px 18px;
}

.input input.ng-dirty,
.input select.ng-dirty,
.input textarea.ng-dirty {
  padding: 20px 20px 6px 18px;
}

.input input:valid,
.input select:valid,
.input textarea:valid {
  padding: 20px 20px 6px 18px;
}

.input label {
  text-transform: capitalize;
  color: var(--grey-alt);
  position: absolute;
  margin-left: 19px;
  top: 21px;
  z-index: -1;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}

.input input:focus + label,
.input textarea:focus + label {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin-left: 19px;
  top: 12px;
}

.input input:focus + label,
.input .input--multiple:focus-within + label,
.input label.active {
  margin-left: 19px;
  top: 12px;
}

.input input:valid + label,
.input select:valid + label,
.input textarea:valid + label,
.input input.ng-valid + label,
.input input.ng-dirty + label,
.input select.ng-valid + label,
.input textarea.ng-valid + label,
.input textarea.ng-dirty + label {
  margin-left: 19px;
  top: 12px;
}

.input__search {
  border: 1px solid var(--line-border);
  border-radius: 10px;
  padding: 10px 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 10px;
  height: 40px;
}

.input__search.filter {
  background: var(--color-white-100);
  border: 1px solid var(--line-border);
  width: 100%;
  max-width: 350px;
  height: 36px;
  margin-bottom: 0;
}

.input__search.filter input {
  width: 100%;
  height: 35px;
}

.input__search.no-margin {
  margin-bottom: unset;
  margin-right: 24px;
  background: var(--color-white);
}

.input__search input {
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  color: var(--grey-color);
  height: 39px;
}

.input__search input:valid {
  padding: 0;
}

.input__search input:focus {
  background: none;
  outline: none;
  border: none;
  padding: 0;
}

.input__search input:focus-visible {
  background: none;
}

.input__search img {
  margin-right: 10px;
}

.input__search .enter-button {
  opacity: 0;
  padding: 3px;
  background: transparent;
  border: none;
}

.input__search .enter-button img {
  width: 17px;
  height: 17px;
  margin: 0;
}

.input__search .enter-button.show {
  opacity: 0.7;
}

.input__search__filter {
  position: relative;
}

.input__search__filter input {
  background: var(--color-white-100);
  border: 1px solid var(--line-border);
  width: 100%;
  max-width: 350px;
  height: 36px;
  margin-bottom: 0;
}

.input__search__filter input:focus {
  border: 2px solid rgba(var(--primary-color-rgb), 0.5);
}

.input__search__filter input .img {
  position: absolute;
}

.input__search__filter input .enter-button {
  position: absolute;
}

.input--password {
  position: relative;
  width: 100%;
}

.input--password button {
  background: none;
  width: 18px;
  height: 18px;
}

.input--password__view-toggle {
  position: absolute;
  top: 55%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  padding: 0;
  right: 17px;
  border: 0;
}

.input--password__view-toggle img {
  width: 18px;
  height: 18px;
}

.input__error {
  margin-top: 8px;
}

.input__error img {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.input__error__success {
  color: var(--color-success);
}

.input__error__info {
  color: var(--primary-color);
}

.input__error__warning {
  color: var(--color-warning);
}

.input__error__danger {
  color: var(--color-danger);
}

.input__error__secondary {
  color: var(--grey-color-100);
  font-style: italic;
}

.input--multiple {
  position: relative;
  width: 100%;
  background: transparent;
  border: 1px solid var(--line-border);
  border-radius: 4px;
  padding: 11px 20px 11px 20px;
  min-height: 50px;
}

.input--multiple .tag {
  background: -webkit-gradient(linear, left bottom, left top, from(var(--color-off-white)), to(var(--color-white)));
  background: linear-gradient(0deg, var(--color-off-white) 0%, var(--color-white) 100%);
  border: 1px solid var(--line-border);
  -webkit-box-shadow: inset 0px 2px 0px rgba(var(--color-white-rgb), 0.05);
          box-shadow: inset 0px 2px 0px rgba(var(--color-white-rgb), 0.05);
  border-radius: 4px;
  padding: 2px 12px;
}

.input--multiple .tag a {
  height: 16px;
  width: 16px;
}

.input--multiple input {
  border: none;
  background: transparent;
  padding: 0;
  min-height: unset;
  height: 10px;
  width: unset;
  margin-top: unset;
}

.input--multiple input:focus {
  padding: 0;
  background: none;
  outline: none;
  border: none;
}

.input--multiple input:valid {
  padding: 0;
}

.input--multiple:focus-within, .input--multiple.active {
  padding: 22px 19px 10px 20px;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}

.input--multiple:focus-within input {
  height: 24px;
}

.input.multiple label {
  top: 13px;
}

.input.multiple .input--multiple:focus-within + label,
.input.multiple label.active {
  top: 6px;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='time']::-webkit-calendar-picker-indicator {
  background: none;
}

input[type='checkbox'],
input[type='radio'] {
  padding: 10px;
  position: relative;
  border-radius: 4px;
  border: 1px solid var(--line-border);
}

input[type='checkbox']::after,
input[type='radio']::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

input[type='checkbox']:checked,
input[type='radio']:checked {
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
}

input:focus + .input__search {
  border: 3px solid var(--color-primary-500);
}

.filter {
  padding: 24px 16px;
  position: relative;
}

.filter.without-padding {
  padding: 24px 0;
}

.filter > div {
  white-space: nowrap;
}

.filter--button {
  min-width: 130px;
}

.filter--button {
  background: var(--color-white);
  border: 1px solid var(--color-light-2);
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  line-height: 14px;
  margin: 0 0 0 8px;
}

.filter--button div {
  margin: 0 8px;
}

.filter--button img:last-of-type {
  width: 20px;
}

.filter--button.active {
  border-color: rgba(var(--primary-color-rgb), 0.2);
  -webkit-box-shadow: 0px 10px 25px rgba(var(--primary-color-rgb-2), 0.08);
          box-shadow: 0px 10px 25px rgba(var(--primary-color-rgb-2), 0.08);
  color: var(--primary-color);
}

.filter .select {
  min-width: 150px;
  position: relative;
  background: var(--color-white-100);
  border: 1px solid var(--line-border-2);
  border-radius: 10px;
  height: 36px;
  margin-left: 15px;
}

.filter .select::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-size: contain;
  right: 5px;
}

.filter .select select {
  border: none;
  background: transparent;
  padding: 10px;
  width: 100%;
  color: var(--grey-color);
}

.key {
  border: 1px solid var(--line-border);
  border-radius: 6px;
  height: 50px;
  width: 100%;
  color: var(--grey-alt);
  padding-left: 15px;
  padding-right: 15px;
}

.key span {
  white-space: nowrap;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.key button {
  padding: 0;
  border: none;
  background: none;
  color: var(--grey-alt);
}

.key button img {
  height: 20px;
  width: 20px;
}

.toggle {
  cursor: pointer;
  margin-top: -15px;
}

.toggle-switch {
  display: inline-block;
  background: rgba(var(--toggle-bg), 0.16);
  border-radius: 16px;
  width: 35px;
  height: 21px;
  position: relative;
  vertical-align: middle;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}

.toggle-switch:before, .toggle-switch:after {
  content: '';
}

.toggle-switch:before {
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color-white)), to(var(--color-off-white)));
  background: linear-gradient(to bottom, var(--color-white) 0%, var(--color-off-white) 100%);
  border-radius: 50%;
  border: 0.67308px solid var(--line-border-2);
  width: 15px;
  height: 15px;
  position: absolute;
  top: 2px;
  left: 2px;
  -webkit-transition: left 0.25s;
  transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color-white)), to(var(--color-white)));
  background: linear-gradient(to bottom, var(--color-white) 0%, var(--color-white) 100%);
}

.toggle-checkbox:checked + .toggle-switch {
  background: var(--primary-color);
}

.toggle-checkbox:checked + .toggle-switch:before {
  left: 16px;
}

.toggle-switch .toggle-checkbox:checked {
  background: var(--primary-color);
}

.toggle-label {
  position: relative;
  right: -25px;
  color: var(--color-dark);
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.width-unset {
  width: unset !important;
}

.width__100 {
  width: 100%;
}

.height-unset {
  height: unset !important;
}

.height__100 {
  height: 100%;
}

.border__right {
  border-right: 1px solid var(--line-border);
}

.border__left {
  border-left: 1px solid var(--line-border);
}

.border__top {
  border-top: 1px solid var(--line-border);
}

.border__bottom {
  border-bottom: 1px solid var(--line-border);
}

.page {
  background: var(--color-background);
}

.page .heading {
  color: var(--color-black);
  margin-bottom: 8px;
}

.page .heading-sub {
  color: var(--grey-color);
}

.page .container {
  max-width: 1375px;
  margin: 32px auto;
  background-color: var(--color-white);
  padding: 100px;
}

.auth-page {
  background-position: center;
  min-height: 100vh;
  background-size: cover;
}

.auth-page--container {
  max-width: 445px;
  margin: 157px auto 0;
  margin: 0 auto;
  padding: 25px 60px;
  width: 100%;
  background: var(--color-white);
  -webkit-box-shadow: 0px 1.0566px 10.566px rgba(var(--color-dark), 0.04);
          box-shadow: 0px 1.0566px 10.566px rgba(var(--color-dark), 0.04);
  border-radius: 10px;
  text-align: center;
}

.auth-page--container > img {
  width: 150px;
}

.auth-page--container form {
  text-align: left;
  margin-top: 30px;
}

.dashboard--header {
  background: var(--color-white);
  width: 100%;
}

.dashboard--header--container {
  width: 1374px;
  margin: auto;
  background: var(--color-white);
  padding: 12px 20px;
}

.dashboard--header--nav nav {
  margin-left: 91px;
}

.dashboard--header--nav nav ul li:not(:last-of-type) {
  margin-right: 32px;
}

.dashboard--header--nav nav ul li a {
  padding: 12px 15px;
  color: var(--grey-color);
}

.dashboard--header--nav nav ul li a.active {
  background: var(--color-primary-500);
  border-radius: 4px;
  color: var(--primary-color);
}

.dashboard--header--acounts a {
  white-space: nowrap;
  margin-right: 32px;
  color: var(--primary-color);
}

.dashboard--header--acounts .more a {
  color: var(--grey-color);
}

.dashboard--header .user {
  background: var(--color-light);
  border: 1px solid var(--color-light);
  border-radius: 4px;
  padding: 11px 16px;
  max-width: 256px;
  width: 100%;
  position: relative;
}

.dashboard--header .user .icon {
  width: 24px;
  height: 24px;
  background: var(--secondary-color);
  color: var(--color-white);
  border-radius: 50%;
  margin-right: 8px;
}

.dashboard--header .user .name {
  font-size: 14px;
  line-height: 14px;
}

.dashboard--header .organisations {
  width: 440px;
}

.dashboard--header .more {
  width: 264px;
}

.dashboard--header .logo img {
  width: 100px;
}

.dashboard--header .logo + div a {
  color: var(--primary-color);
  margin-right: 20px;
  min-width: 90px;
}

.dashboard--page {
  width: 1374px;
  margin: 32px auto;
  padding: 0 2rem;
}

.dashboard--page--details--chart {
  padding: 0;
  max-width: 850px;
  width: 100%;
}

.dashboard--page--details--chart h3 {
  margin-bottom: 30px;
}

.dashboard--page--details--chart > div {
  padding: 24px;
}

.dashboard--page--details--credentials {
  max-width: 428px;
  width: 100%;
}

.dashboard--logs {
  margin-top: 32px;
  padding: 0 0 20px;
}

.dashboard--logs--filter {
  padding: 24px 16px;
  border-bottom: 1px solid var(--line-border);
}

.dashboard--logs--table {
  width: calc(1310px - 480px);
  border-right: 1px solid var(--line-border);
  height: 100%;
  overflow: hidden;
}

.dashboard--logs--details {
  padding: 24px;
  width: 480px;
  max-height: calc(100vh - 950px);
  min-height: 707px;
  overflow: auto;
}

.dashboard--logs--details > h3 {
  margin-bottom: 15px;
}

.dashboard--logs--details--meta {
  padding: 8px 0 24px;
  border-bottom: 1px solid var(--line-border);
  margin: 0 0 24px;
}

.dashboard--logs--details--meta .code {
  background: var(--color-white-100);
  border: 1px solid var(--line-border-2);
  border-radius: 10px;
  padding: 16px;
  color: var(--grey-color);
}

.dashboard--logs--details--meta .code .text {
  max-width: 390px;
  overflow-x: scroll;
}

.dashboard--logs--details--response-data {
  width: 100%;
  padding: 1em;
  background: var(--color-white-200);
  margin-right: 25px;
}

.dashboard--logs--details--tabs-data {
  width: 100%;
  opacity: 0;
  position: absolute;
  right: 1000px;
  z-index: -1;
  top: 0;
}

.dashboard--logs--details--tabs-data.show {
  opacity: 1;
  position: initial;
  z-index: initial;
}

.dashboard--logs--details--tabs-data h3 {
  font-size: 0.8rem;
  background: var(--color-white-200);
  padding: 10px 23px;
  border-bottom: 2px solid var(--primary-color-inverse);
}

.dashboard--logs--details--tabs-data h3:not(:first-of-type) {
  margin-top: 20px;
}

.dashboard--logs--details .data-hidden {
  height: 100px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.dashboard--logs--details--req-res {
  overflow-y: auto;
}

.dashboard--logs--details--req-res > div {
  margin: 10px 0 20px;
}

.dashboard--logs--details--endpoints {
  margin: 20px 0;
  border-bottom: none;
  width: 100%;
}

.dashboard--logs--details--endpoints.inline li .url {
  width: 330px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 10px;
  cursor: pointer;
}

.dashboard--logs--details--endpoints li {
  display: block;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--line-border);
  position: relative;
}

.dashboard--logs--details--endpoints li h5 {
  color: var(--grey-color);
}

.dashboard--logs--details--endpoints li p {
  margin-top: 10px;
  color: var(--color-black);
}

.dashboard--logs--details--endpoints li p img {
  width: 15px;
  margin-right: 10px;
}

.dashboard--logs--details--endpoints li .events {
  margin-top: 10px;
}

.dashboard--logs--details--endpoints li .events .tag {
  display: inline-block;
  margin: 5px 8px 5px 0;
  background: var(--color-primary-500);
  border-radius: 4px;
}

.dashboard--logs--details--endpoints--inactive {
  background: rgba(var(--inactive-state-rgb), 0.6);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 16px;
  padding: 24px;
  position: absolute;
  width: 100%;
  top: -10%;
}

.dashboard--logs--details--endpoints--inactive .icon {
  background: var(--color-white-100);
  -webkit-box-shadow: 0px 2px 8px rgba(var(--drop-shadow), 0.08), 0px 3px 8px -1px rgba(var(--drop-shadow-2), 0.05);
          box-shadow: 0px 2px 8px rgba(var(--drop-shadow), 0.08), 0px 3px 8px -1px rgba(var(--drop-shadow-2), 0.05);
  border-radius: 4.5px;
  padding: 10px;
  width: 36px;
  height: 36px;
}

.dashboard--logs--details--endpoints--inactive .icon img {
  width: 13px;
}

.dashboard--logs--details.disabled {
  opacity: .5;
}

.dashboard .metrics {
  -ms-grid-columns: (minmax(278px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  min-height: 76px;
  border-bottom: 1px solid var(--line-border);
}

.dashboard .metrics li {
  padding: 16px 30px;
}

.dashboard .metrics li:not(:last-of-type) {
  border-right: 1px solid var(--line-border);
}

.dashboard .metrics li img {
  margin-right: 30px;
}

.content.withPadding {
  padding-top: 60px;
}

.has-loader {
  position: relative;
}

.loading-icon {
  -webkit-animation: rotating 1s linear infinite;
          animation: rotating 1s linear infinite;
  width: 10%;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.badge .icon {
  width: 24px;
  height: 24px;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  background: var(--secondary-color);
  color: var(--color-white);
  border-radius: 50%;
}

.badge .name {
  margin-left: 8px;
  text-align: left;
  text-transform: capitalize;
  margin-right: 20px;
}

.badge__dark .icon {
  background: var(--color-black);
}

.badge__dark .name {
  margin-left: 16px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table button img {
  width: 14px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  background: var(--color-primary-500);
}

.table thead th {
  text-align: left;
  color: var(--color-black);
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

.table thead th:first-child {
  padding-left: 20px;
}

.table tbody tr {
  cursor: pointer;
  border-left: 12px solid var(--color-white);
}

.table tbody tr:last-of-type {
  margin-bottom: 16px;
}

.table tbody tr:not(.table--date-row) {
  border-right: 12px solid var(--color-white);
}

.table tbody tr:not(.table--date-row):hover, .table tbody tr:not(.table--date-row).active, .table tbody tr:not(.table--date-row):focus {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background: rgba(var(--primary-color-rgb), 0.05);
}

.table tbody tr .has-retry {
  position: relative;
  width: 100%;
}

.table tbody tr .has-retry img {
  width: 12px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-3px, -50%);
          transform: translate(-3px, -50%);
  opacity: 0.5;
}

.table tbody tr .has-retry .tag {
  margin-left: 20px;
}

.table tbody tr.has-border {
  border-top: 1px solid var(--line-border);
}

.table tbody tr td {
  padding: 0;
}

.table tbody tr td > div {
  padding-top: 10px;
  padding-bottom: 10px;
  white-space: nowrap;
}

.table tbody tr td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.table tbody tr td:first-child > div {
  padding-left: 16px;
}

.table tbody tr td:last-child {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.table tbody tr td.has-long-text > div {
  width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.table tbody tr td.has-long-text.longer > div {
  width: 400px;
}

.table tbody tr button {
  padding: 1px 8px;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.table tbody tr button.spin img {
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite;
}

.table tbody tr button img {
  width: 14px;
}

.table tbody tr.last-item td > div {
  padding-bottom: 24px;
}

.table tbody tr.last-item .has-retry img {
  top: calc(50% - 6px);
}

.table__no-style {
  background: var(--color-white);
  border: 1px solid var(--line-border);
  border-radius: 10px;
}

.table__no-style thead {
  background: var(--color-white);
  border-radius: 10px;
  border-bottom: 1px solid var(--line-border);
}

.table__no-style thead th {
  color: var(--color-black);
  text-transform: uppercase;
  white-space: nowrap;
  padding-top: 18px;
  padding-bottom: 18px;
}

.table__no-style thead th:first-child {
  padding-left: 16px;
  width: 450px;
}

.table__no-style tbody tr {
  border-left: unset;
}

.table__no-style tbody tr:not(:last-of-type) {
  border-bottom: 1px solid var(--line-border);
}

.table__no-style tbody tr:hover, .table__no-style tbody tr:focus {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background: var(--color-light);
  border-radius: 8px;
}

.table__no-style tbody tr:not(.table--date-row) {
  border-right: unset;
}

.table__no-style tbody tr td > div {
  color: var(--grey-color);
}

.table--load-more {
  border-top: 1px solid var(--line-border);
}

.table--container {
  max-height: calc(100vh - 950px);
  min-height: 707px;
  overflow-y: auto;
  overflow-x: hidden;
}

.table--container.smaller-table {
  min-height: 300px;
}

.table--date-row {
  border-left: 8px solid transparent;
  border-top: 1px solid var(--line-border);
  color: var(--grey-color);
}

.table--date-row td div {
  padding-top: 16px !important;
  padding-bottom: 14px !important;
}

.table--actions {
  border-bottom: 1px solid var(--line-border);
}

.table--actions button {
  padding: 10px;
  color: var(--color-black);
  margin-right: 10px;
}

.table--actions img {
  width: 15px;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.table button.spin img {
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite;
}

.table .checkbox input {
  margin: 0 20px 0;
}

.pagination {
  margin-top: 50px;
}

.pagination button {
  padding: 5px;
}

.empty-state {
  text-align: center;
  width: 100%;
  margin: auto;
}

.empty-state p {
  margin-top: 20px;
}

.tag {
  padding: 1px 8px;
  background: rgba(var(--tag-shadow), 0.1);
  border-radius: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.tag--Failure {
  background: var(--color-failure);
  color: var(--danger-color);
}

.tag--Retry {
  background: var(--color-retry);
}

.tag--Success {
  background: var(--color-success-500);
  color: var(--color-success);
}

._overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--color-dark), 0.5);
}

.modal {
  position: fixed;
  width: 100%;
  max-width: 600px;
  background: var(--color-white);
}

.modal__center {
  width: 420px;
  border-radius: 16px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal__center .modal--body {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.modal__center.large {
  width: 600px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 440px;
}

.modal__right {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  top: 0;
  right: 0;
  bottom: 0;
  left: unset;
  max-width: 460px;
  overflow-y: auto;
}

.modal__right .modal--body {
  min-height: calc(100vh - (113px + 65px));
}

.modal--head {
  border-bottom: 1px solid var(--line-border);
  padding: 24px;
  margin-bottom: 24px;
}

.modal--body {
  padding: 0 24px 24px;
  overflow: auto;
}

.modal--body p {
  color: var(--grey-color);
  max-width: 346px;
  text-align: center;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 32px;
}

.modal--body p.title {
  color: var(--color-black);
  padding: 0;
}

.modal--body p.subtext {
  color: var(--grey-color);
  margin-bottom: 34px;
  margin-top: 8px;
  padding: 0;
}

.modal--body.deactivate {
  padding: 40px;
}

.modal--body.success {
  padding: 100px 30px;
}

.modal--body.success .subtext {
  margin-bottom: 20px;
}

.modal--body.delete {
  padding: 71px;
}

.modal--body.delete img {
  height: 126px;
  width: 126px;
}

.modal--footer {
  border-top: 1px solid var(--line-border);
  padding: 11px 24px;
  border-radius: 0px 0px 16px 16px;
}

.modal--footer__with-shadow {
  -webkit-box-shadow: 20px 0px 34px rgba(var(--color-dark), 0.05);
          box-shadow: 20px 0px 34px rgba(var(--color-dark), 0.05);
}

.modal--footer .button {
  min-width: 120px;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 8px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

.font-black {
  color: var(--color-black);
}

.display {
  font-weight: bold;
  line-height: 130%;
}

.display__large {
  font-size: 56px;
}

.display__medium {
  font-size: 48px;
}

.display__regular {
  font-size: 32px;
}

.display__small {
  font-size: 24px;
}

.font__20px, .modal--body p.title {
  font-size: 20px;
  line-height: 30px;
}

.font__18px {
  font-size: 18px;
  line-height: 30px;
}

.font__16px, .button, .button__deactivate, .button__no-style, .key, .page .heading, .dashboard .metrics li div:first-of-type, .table--load-more button, .subtitle, .alert .header {
  font-size: 16px;
  line-height: 24px;
}

.font__14px, .button__small, .button__white, .button__retry, .button__clear, .button__filter, .input input,
.input select,
.input textarea, .input label, .input--multiple input, .filter .select select, .key button, .toggle-label, .page .heading-sub, .dashboard--header--nav nav ul li a, .dashboard--header--acounts a, .dashboard--logs--details--meta .code, .dashboard--logs--details--endpoints.inline li .url, .dashboard--logs--details--endpoints li h5, .dashboard--logs--details--endpoints li p, .dashboard .metrics li div:last-of-type, .badge .name, .table thead th, .table tbody tr td > div, .table__no-style tbody tr td > div, .empty-state p, .modal--body p, .modal--body p.subtext, .dropdown__menu .title, .dropdown__menu ul li, .dropdown__menu ul li.logout a, .dropdown__menu .base-button, .alert, .alert__info, .tabs li button span, .tabs__logs li button, .list-item--label, .list-item-inline--label, .list-item-inline--item {
  font-size: 14px;
  line-height: 22px;
}

.font__13px, .dashboard--logs--details--response-data {
  font-size: 13px;
  line-height: 30px;
}

.font__12px, .input__error, .input--multiple .tag, table button, .table tbody tr button, .table__no-style thead th, .table--date-row, .tag, .dropdown__menu__item label, .dropdown__menu .title__with-sub-sub, .alert__confirmation button {
  font-size: 12px;
  line-height: 20px;
}

.font__10px, .input input:focus + label,
.input textarea:focus + label,
.input .input--multiple:focus-within + label,
.input label.active, .input input:valid + label,
.input select:valid + label,
.input textarea:valid + label,
.input input.ng-valid + label,
.input input.ng-dirty + label,
.input select.ng-valid + label,
.input textarea.ng-valid + label,
.input textarea.ng-dirty + label {
  font-size: 10px;
  line-height: 150%;
}

.font__weight-300, *, a {
  font-weight: 300;
}

.font__weight-400, .dashboard--logs--details--endpoints li h5, .dashboard .metrics li div:last-of-type, .list-item-inline--label, .list-item-inline--item {
  font-weight: 400;
}

.font__weight-500, .button, .button__small, .button__deactivate, .button__white, .button__filter, .button__filter.active, .input input,
.input select,
.input textarea, .input label, .input input:focus + label,
.input .input--multiple:focus-within + label,
.input label.active, .input input:valid + label,
.input select:valid + label,
.input textarea:valid + label,
.input input.ng-valid + label,
.input input.ng-dirty + label,
.input select.ng-valid + label,
.input textarea.ng-valid + label,
.input textarea.ng-dirty + label, .input--multiple .tag, .filter--button.active, .filter .select select, .key, .toggle-label, .page .heading-sub, .dashboard--header--nav nav ul li a, .dashboard--header--acounts a, .dashboard--header .user .name, .dashboard .metrics li div:first-of-type, .badge .name, .table thead th, .table tbody tr button, .table__no-style tbody tr td > div, .table--load-more button, .tag, .modal--body p.subtext, .dropdown__menu ul li, .dropdown__menu ul li.logout a, .dropdown__menu .base-button, .alert__confirmation button, .alert__info, .tabs li button span, .tabs__logs li button, .list-item--label, .list-item--item {
  font-weight: 500;
}

.font__weight-600, .button__no-style, .dashboard--header--nav nav ul li a.active, .modal--body p.title, .dropdown__menu .title, .tabs li button.active span {
  font-weight: 600;
}

.font__weight-700, .page .heading, .dashboard--header .logo + div a, .dashboard--page--details--chart h3, .table__no-style thead th, .card--title h3, h1,
h2,
h3,
h4,
h5,
h6, strong {
  font-weight: 700;
}

.font__weight-800 {
  font-weight: 800;
}

.font__weight-900 {
  font-weight: 900;
}

.color__primary {
  color: var(--primary-color);
}

.color__grey {
  color: var(--grey-color);
}

.color__black, .input--multiple .tag {
  color: var(--color-black);
}

.color__danger {
  color: var(--danger-color);
}

.text__uppercase {
  text-transform: uppercase;
}

.text__capitalize {
  text-transform: capitalize;
}

.text__lowercase {
  text-transform: lowercase;
}

.subtitle {
  color: var(--grey-color);
}

.card {
  background: var(--color-white);
  border: 1px solid var(--line-border);
  border-radius: 8px;
  padding: 24px;
}

.card.has-title {
  padding: 0;
}

.card.with-shadow {
  -webkit-box-shadow: 0px 2px 4px rgba(var(--drop-shadow), 0.04), 0px 4px 20px -2px rgba(var(--drop-shadow-2), 0.08);
          box-shadow: 0px 2px 4px rgba(var(--drop-shadow), 0.04), 0px 4px 20px -2px rgba(var(--drop-shadow-2), 0.08);
  border: none;
}

.card--title {
  border-bottom: 1px solid var(--line-border);
  padding: 24px 24px 16px;
}

.card--container {
  padding: 16px 24px;
}

.dropdown {
  position: relative;
}

.dropdown__menu {
  position: absolute;
  top: 110%;
  width: calc(100% + 50px);
  left: 5%;
  background: var(--color-white);
  border: 1px solid var(--line-border);
  -webkit-box-shadow: 0px 2px 8px rgba(var(--drop-shadow), 0.08), 0px 3px 8px -1px rgba(var(--drop-shadow-2), 0.05);
          box-shadow: 0px 2px 8px rgba(var(--drop-shadow), 0.08), 0px 3px 8px -1px rgba(var(--drop-shadow-2), 0.05);
  border-radius: 12px;
  height: 0;
  z-index: 5;
  opacity: 0;
  height: 0px;
  overflow: hidden;
}

.dropdown__menu__item {
  padding-top: 8px;
  padding-bottom: 8px;
}

.dropdown__menu__item label {
  display: block;
  width: 100%;
  color: var(--color-black);
}

.dropdown__menu__item.with-border {
  border-bottom: 1px solid var(--line-border);
}

.dropdown__menu__nav {
  right: 5%;
  left: unset;
}

.dropdown__menu .title {
  color: var(--grey-color);
  padding: 24px 32px 18px 32px;
}

.dropdown__menu .title__with-sub {
  padding: 24px 32px 16px 32px;
  color: var(--color-black);
  margin-bottom: 4px;
  border-bottom: 1px solid var(--line-border);
}

.dropdown__menu__secondary ul li {
  padding: 18px 32px 16px 32px;
  color: var(--grey-color);
}

.dropdown__menu ul li {
  padding: 18px 32px 16px 32px;
  color: var(--color-black);
}

.dropdown__menu ul li.danger {
  color: var(--danger-color);
}

.dropdown__menu ul li.logout {
  border-top: 1px solid var(--line-border);
  padding: 32px;
}

.dropdown__menu ul li.logout a {
  color: var(--danger-color);
}

.dropdown__menu ul li.logout a:hover {
  cursor: pointer;
}

.dropdown__menu ul li.active, .dropdown__menu ul li:hover {
  background: var(--color-primary-500);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.dropdown__menu ul li.no-hover.active, .dropdown__menu ul li.no-hover:hover {
  background: none;
}

.dropdown__menu .base-button {
  background: var(--color-white-100);
  border: 1px solid var(--line-border);
  color: var(--color-black);
  border-radius: 0px 0px 12px 12px;
  padding: 26px 34px;
  width: 100%;
}

.dropdown__menu .base-button img {
  height: 20px;
  width: 20px;
  margin-right: 12px;
}

.dropdown__menu.with-padding {
  padding: 24px 16px;
}

.dropdown__menu.with-padding.smaller {
  padding: 8px 16px 16px;
}

.dropdown__menu.small {
  width: 196px;
}

.dropdown__menu.smaller {
  width: 149px;
}

.dropdown__menu.larger {
  width: 440px;
}

.dropdown__menu.large {
  width: 249px;
}

.dropdown__menu.large.show {
  max-height: unset;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.dropdown__menu.show {
  -webkit-transition: 0.3s ease-in-out height;
  transition: 0.3s ease-in-out height;
  opacity: 1;
  height: unset;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: auto;
}

.alert {
  border-radius: 8px;
  padding: 9px 16px;
  color: var(--color-black);
}

.alert img {
  margin-right: 16px;
  height: 24px;
  width: 24px;
}

.alert__warning {
  background: var(--alert-danger-line);
  border: 1px solid var(--alert-danger);
}

.alert__warning.without-border {
  border: none;
}

.alert__confirmation {
  position: absolute;
  top: 86px;
  max-width: 784px;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.alert__confirmation button {
  padding: 0;
  background: none;
  border: none;
  color: var(--primary-color);
}

.alert__info {
  background: var(--color-primary-500);
  border: 1px dashed var(--line-border-2);
  border-radius: 8px;
  max-width: 576px;
}

.alert__info img {
  margin-right: 20px;
}

.alert__info p,
.alert__info a {
  max-width: 464px;
}

.alert__info a {
  color: var(--primary-color);
}

.tabs {
  border-bottom: 1px solid var(--line-border);
  width: 100%;
  list-style: none;
}

.tabs li::marker {
  display: none;
}

.tabs li button {
  border-radius: 0;
  padding: 17px 18px;
  background: none;
  border: none;
}

.tabs li button span {
  text-transform: capitalize;
  text-align: left;
  color: var(--grey-color);
  -webkit-transition: .3s ease-in-out all;
  transition: .3s ease-in-out all;
}

.tabs li button.active {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
}

.tabs li button.active span {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: var(--primary-color);
}

.tabs li button.active::after {
  content: "";
  bottom: 0px;
  height: 3px;
  width: 100%;
  left: 0;
  right: 0;
  background: var(--primary-color);
  border-radius: 16px 16px 0px 0px;
  position: absolute;
}

.tabs__logs {
  border: none;
  padding-bottom: 10px;
}

.tabs__logs li button {
  padding: 6.5px 28px;
  border: 1px solid transparent;
  letter-spacing: 0.01em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: var(--color-black);
}

.tabs__logs li.active::after {
  content: none;
}

.tabs__logs li.active button {
  border-color: rgba(var(--primary-color-rgb), 0.2);
  -webkit-box-shadow: 0px 10px 25px rgba(var(--primary-color-rgb-2), 0.08);
          box-shadow: 0px 10px 25px rgba(var(--primary-color-rgb-2), 0.08);
  border-radius: 8px;
  color: var(--primary-color);
}

.list-item {
  padding: 8px 0;
  border-bottom: 1px solid var(--line-border);
}

.list-item--label {
  color: var(--grey-alt);
}

.list-item--item {
  line-height: 24px;
  font-size: 14px;
  word-wrap: break-word;
  color: var(--color-black);
}

.list-item button {
  padding: 0;
  background: transparent;
  outline: var(--primary-color);
}

.list-item button img {
  width: 15px;
}

.list-item-inline {
  max-width: 480px;
}

.list-item-inline:not(:last-of-type) {
  margin-bottom: 16px;
}

.list-item-inline--label {
  color: var(--grey-color);
}

.list-item-inline--item {
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
  cursor: pointer;
}

.list-item-inline--item.link {
  color: var(--primary-color);
  text-decoration: none;
}

.list-item-inline--item.link img {
  width: 15px;
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 var(--primary-color));
          filter: opacity(0.5) drop-shadow(0 0 0 var(--primary-color));
}

.list-item-inline--item.color {
  color: var(--primary-color);
}

.list-item-inline--item.fint {
  color: var(--grey-color);
  font-style: italic;
}

.flex, .button--has-icon, .button__filter, .button--container, .input, .input__search, .input__search .enter-button, .input--password, .input--password__view-toggle, .input__error, .input--multiple, .input--multiple .tag, .filter, .filter > div, .filter--button, .key, .key button, .toggle, .auth-page, .dashboard--header--container, .dashboard--header--nav, .dashboard--header--nav nav ul, .dashboard--header--acounts, .dashboard--header .user, .dashboard--header .user > div, .dashboard--header .user .icon, .dashboard--header .logo + div, .dashboard--page--details, .dashboard--page--head, .dashboard--logs--tabs, .dashboard--logs--details--endpoints.inline li, .dashboard--logs--details--endpoints li p, .dashboard--logs--details--endpoints--inactive, .dashboard--logs--details--endpoints--inactive .icon, .dashboard .metrics li, .badge, .badge .icon, .table tbody tr .has-retry, .table .checkbox, .pagination, .empty-state, .modal--head, .modal--footer, .dropdown__menu__item, .dropdown__menu .base-button, .alert, .alert .header, .alert__confirmation, .alert__info, .tabs, .list-item-inline, .list-item-inline--item.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex__with-margin {
  margin-bottom: 40px;
}

.flex__row, .input__search {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.flex__column, .input, .dashboard--logs--details--endpoints--inactive, .empty-state {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.flex__column-reverse, .input--password {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
}

.flex__align-items-stretch, .filter {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flex__align-items-center, .button--has-icon, .button__filter, .input__search, .input__search .enter-button, .input--password__view-toggle, .input__error, .input--multiple .tag, .filter, .filter > div, .filter--button, .key, .key button, .toggle, .auth-page, .dashboard--header--container, .dashboard--header--nav, .dashboard--header--nav nav ul, .dashboard--header--acounts, .dashboard--header .user, .dashboard--header .user > div, .dashboard--header .user .icon, .dashboard--header .logo + div, .dashboard--page--head, .dashboard--logs--tabs, .dashboard--logs--details--endpoints.inline li, .dashboard--logs--details--endpoints li p, .dashboard--logs--details--endpoints--inactive, .dashboard--logs--details--endpoints--inactive .icon, .dashboard .metrics li, .badge, .badge .icon, .table tbody tr .has-retry, .table .checkbox, .pagination, .empty-state, .modal--head, .dropdown__menu__item, .dropdown__menu .base-button, .alert__confirmation, .alert__info, .tabs, .list-item-inline--item.link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex__align-items-start, .alert {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex__wrap, .input--multiple {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex__nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex__justify-end, .button--container, .input--password__view-toggle, .pagination, .list-item-inline--item.link {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex__justify-center, .button--container.center, .input__search .enter-button, .dashboard--header .user, .dashboard--header .user .icon, .dashboard--logs--tabs, .dashboard--logs--details--endpoints--inactive, .dashboard--logs--details--endpoints--inactive .icon, .badge .icon, .empty-state {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex__justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex__justify-between, .button__filter, .filter--button, .key, .dashboard--header--container, .dashboard--page--details, .dashboard--page--head, .modal--head, .modal--footer, .modal--footer .button--container, .dropdown__menu__item, .alert .header, .alert__confirmation, .list-item-inline {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex__justify-start, .button--container.left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.grid, .dashboard .metrics {
  display: -ms-grid;
  display: grid;
}

.grid__with-margin {
  margin-bottom: 40px;
}

.grid__col-2 {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.grid__col-3 {
  -ms-grid-columns: (minmax(357px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(357px, 1fr));
  gap: 32px;
}

.grid__col-4 {
  -ms-grid-columns: (minmax(257px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(257px, 1fr));
  gap: 32px;
}

.grid__align-items-center, .dashboard .metrics {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.margin-top__0px {
  margin-bottom: 0 !important;
}

.margin-top__8px {
  margin-top: 8px;
}

.margin-top__10px {
  margin-top: 10px;
}

.margin-top__12px {
  margin-top: 12px;
}

.margin-top__14px {
  margin-top: 14px;
}

.margin-top__16px, .dashboard--logs--details--meta .code {
  margin-top: 16px;
}

.margin-top__18px {
  margin-top: 18px;
}

.margin-top__20px {
  margin-top: 20px;
}

.margin-top__22px {
  margin-top: 22px;
}

.margin-top__24px {
  margin-top: 24px;
}

.margin-top__26px {
  margin-top: 26px;
}

.margin-top__28px {
  margin-top: 28px;
}

.margin-top__30px {
  margin-top: 30px;
}

.margin-top__32px {
  margin-top: 32px;
}

.margin-bottom__0px {
  margin-bottom: 0 !important;
}

.margin-bottom__10px, .input--multiple .tag {
  margin-bottom: 10px;
}

.margin-bottom__16px {
  margin-bottom: 16px;
}

.margin-bottom__18px {
  margin-bottom: 18px;
}

.margin-bottom__20px {
  margin-bottom: 20px;
}

.margin-bottom__22px {
  margin-bottom: 22px;
}

.margin-bottom__24px {
  margin-bottom: 24px;
}

.margin-bottom__26px {
  margin-bottom: 26px;
}

.margin-bottom__28px {
  margin-bottom: 28px;
}

.margin-bottom__30px {
  margin-bottom: 30px;
}

.margin-bottom__32px {
  margin-bottom: 32px;
}

.margin-left__0px {
  margin-left: 0 !important;
}

.margin-left__8px, .input--multiple .tag a {
  margin-left: 8px;
}

.margin-left__10px {
  margin-left: 10px;
}

.margin-left__12px {
  margin-left: 12px;
}

.margin-left__14px {
  margin-left: 14px;
}

.margin-left__16px {
  margin-left: 16px;
}

.margin-left__18px {
  margin-left: 18px;
}

.margin-left__20px {
  margin-left: 20px;
}

.margin-left__22px {
  margin-left: 22px;
}

.margin-left__24px {
  margin-left: 24px;
}

.margin-left__26px {
  margin-left: 26px;
}

.margin-left__28px {
  margin-left: 28px;
}

.margin-left__30px {
  margin-left: 30px;
}

.margin-left__32px {
  margin-left: 32px;
}

.margin-right__0px {
  margin-right: 0 !important;
}

.margin-right__8px, .tag:not(:last-of-type) {
  margin-right: 8px;
}

.margin-right__10px {
  margin-right: 10px;
}

.margin-right__12px {
  margin-right: 12px;
}

.margin-right__14px {
  margin-right: 14px;
}

.margin-right__16px, .input--multiple .tag:not(:last-of-type) {
  margin-right: 16px;
}

.margin-right__18px {
  margin-right: 18px;
}

.margin-right__20px {
  margin-right: 20px;
}

.margin-right__22px {
  margin-right: 22px;
}

.margin-right__24px {
  margin-right: 24px;
}

.margin-right__26px {
  margin-right: 26px;
}

.margin-right__28px {
  margin-right: 28px;
}

.margin-right__30px {
  margin-right: 30px;
}

.margin-right__32px {
  margin-right: 32px;
}

body {
  background-color: var(--color-background);
  overflow-x: hidden;
}

body,
html {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  color: var(--color-black);
  scroll-behavior: smooth;
  background: var(--color-background);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
button,
body,
html {
  margin: 0;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pointer-cursor {
  cursor: pointer;
}

.display-none {
  display: none;
}

.text-capitalize {
  text-transform: capitalize;
}

/*----- scrollbar styles ------*/
*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* track */
*::-webkit-scrollbar-track {
  background: transparent;
}

/* handle */
*::-webkit-scrollbar-thumb {
  background: rgba(var(--thumb-scroll), 1);
  border-radius: 10px;
}

hr {
  height: 0;
  border: none;
  border-top: 1px solid var(--line-border);
  margin: 0;
}

:root {
  --color-light: #f8f8fa;
  --color-light-2: #f3f5f9;
  --color-background: #fafafe;
  --color-black: #000624;
  --color-black-rgb: 30, 17, 71;
  --color-dark: 0, 0, 0;
  --color-white: #fff;
  --color-white-100: #fcfcfc;
  --color-white-200: #fbfbfb;
  --color-white-rgb: 255, 255, 255;
  --color-off-white: #f6f7f9;
  --color-deactivate: #ff554a;
  --color-failure: #f7e5e5;
  --color-retry: #f8e5b9;
  --color-primary-500: #edf2f7;
  --secondary-color: #32587d;
  --primary-color: #477db3;
  --primary-color-2: #376da4;
  --primary-color-rgb: 71, 125, 179;
  --primary-color-rgb-2: 151, 143, 175;
  --inactive-state-rgb: 237, 239, 245;
  --primary-color-inverse: #ffffff;
  --success-color: #1f9c6a;
  --danger-color: #f25a68;
  --danger-color-rgb: 238, 0, 5;
  --grey-color-100: #b4baca;
  --grey-color: #737a91;
  --grey-alt: #a5abc1;
  --grey-color-rgb: 30, 17, 71;
  --line-border: #edeff5;
  --line-border-2: #c8d8e8;
  --box-shadow: 22, 29, 37;
  --active-box-shadow: #978faf14;
  --drop-shadow: 12, 26, 75;
  --drop-shadow-2: 50, 50, 71;
  --tag-shadow: 115, 122, 145;
  --thumb-scroll: 217, 216, 216;
  --toggle-bg: 143, 155, 179;
  --alert-danger: #ffa39e;
  --alert-danger-line: #fff1f0;
  --color-warning: #f0ad4e;
  --color-warning-500: #fef7ed;
  --color-danger: #ff554a;
  --color-danger-500: #ffeeed;
  --color-success-500: #e3fcf3;
  --color-success: #29cc92;
  --active-border-color: #477db333;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a:hover {
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */