.alert {
  border-radius: 8px;
  padding: 9px 16px;
  color: var(--color-black);
  @extend .font__14px;
  @extend .flex;
  @extend .flex__align-items-start;

  img {
    margin-right: 16px;
    height: 24px;
    width: 24px;
  }

  .header {
    @extend .font__16px;
    @extend .flex;
    @extend .flex__justify-between;
  }

  &__warning {
    background: var(--alert-danger-line);
    border: 1px solid var(--alert-danger);
    &.without-border {
      border: none;
    }
  }

  &__confirmation {
    @extend .flex;
    @extend .flex__justify-between;
    @extend .flex__align-items-center;
    position: absolute;
    top: 86px;
    max-width: 784px;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    button {
      padding: 0;
      background: none;
      border: none;
      @extend .font__12px;
      @extend .font__weight-500;
      color: var(--primary-color);
    }
  }

  &__info {
    background: var(--color-primary-500);
    border: 1px dashed var(--line-border-2);
    border-radius: 8px;
    max-width: 576px;
    @extend .flex;
    @extend .flex__align-items-center;
    @extend .font__weight-500;
    @extend .font__14px;

    img {
      margin-right: 20px;
    }
    p,
    a {
      max-width: 464px;
    }
    a {
      color: var(--primary-color);
    }
  }
}
