.border {
	&__all {
		border: 1px solid var(--line-border);
	}

	&__right {
		border-right: 1px solid var(--line-border);
	}

	&__left {
		border-left: 1px solid var(--line-border);
	}

	&__top {
		border-top: 1px solid var(--line-border);
	}

	&__bottom {
		border-bottom: 1px solid var(--line-border);
	}

	&--width__2 {
		border-width: 2px;
	}

	&--width__3 {
		border-width: 3px;
	}

	&--width__4 {
		border-width: 4px;
	}

	&--none {
		border: none !important;
	}

	&--top {
		&__none {
			border-top: none;
		}
	}

	&--bottom {
		&__none {
			border-bottom: none;
		}
	}

	&--left {
		&__none {
			border-left: none;
		}
	}

	&--right {
		&__none {
			border-right: none;
		}
	}
}

.rounded {
	&__4px {
		border-radius: 4px;
	}

	&__6px {
		border-radius: 6px;
	}

	&__8px {
		border-radius: 8px;
	}

	&__10px {
		border-radius: 10px;
	}

	&__12px {
		border-radius: 12px;
	}

	&__14px {
		border-radius: 14px;
	}

	&__16px {
		border-radius: 16px;
	}

	&__18px {
		border-radius: 18px;
	}

	&__20px {
		border-radius: 20px;
	}

	&__22px {
		border-radius: 22px;
	}

	&__24px {
		border-radius: 24px;
	}

	&__26px {
		border-radius: 26px;
	}

	&__28px {
		border-radius: 28px;
	}

	&__30px {
		border-radius: 30px;
	}

	&__50px {
		border-radius: 30px;
	}

	&--top-left {
		&__none {
			border-top-left-radius: 0;
		}
	}
}
