.button {
	cursor: pointer;
	border: none;
	@extend .font__weight-500;
	@extend .font__16px;
	border-radius: 10px;
	white-space: nowrap;
	padding: 13px 40px;
	min-width: 200px;

	&__primary {
		--btn-color: linear-gradient(0deg, var(--primary-color-2) 0%, var(--primary-color) 100%);
		--btn-color-hover: 0px 1px 1px rgba(var(--box-shadow), 0.1), inset 0px 2px 0px rgba(var(--color-white-rgb), 0.06);
		--btn-text-color: var(--color-white-100);
		border: 1px solid var(--primary-color);
		background: var(--btn-color);
		color: var(--btn-text-color);

		&--without-gradient {
			--btn-color: var(--primary-color);
			--btn-color-hover: 0px 1px 1px rgba(var(--box-shadow), 0.1), inset 0px 2px 0px rgba(var(--color-white-rgb), 0.06);
			--btn-text-color: var(--color-white-100);
			border: 1px solid var(--primary-color);
			background: var(--btn-color);
			color: var(--btn-text-color);
		}
	}

	&__danger {
		--btn-color: var(--danger-color);
		--btn-color-hover: rgba(var(--danger-color-rgb), 0.03);
		--btn-text-color: var(--primary-color-inverse);
		background: var(--btn-color);
		color: var(--btn-text-color);
	}

	&__small {
		@extend .font__weight-500;
		@extend .font__14px;
		padding: 6px 18px;
		min-width: unset;

		img {
			height: 16px;
			width: 16px;
		}
	}

	&__deactivate {
		background: var(--color-deactivate);
		border: 1px solid var(--color-primary-500);
		box-sizing: border-box;
		box-shadow: 0px 1px 1px rgba(var(--box-shadow), 0.05), inset 0px 2px 0px rgba(var(--color-white), 0.05);
		@extend .font__weight-500;
		@extend .font__16px;
		color: var(--color-white-100);
		// review
		height: 56px;
		&.height {
			height: 50px;
		}
	}

	&__white {
		background: linear-gradient(0deg, var(--color-off-white) 0%, var(--color-white) 100%);
		border: 1px solid var(--line-border);
		box-shadow: 0px 1px 1px rgba(var(--box-shadow), 0.05), inset 0px 2px 0px rgba(var(--color-white-rgb), 0.05);
		@extend .font__weight-500;
		@extend .font__14px;
		color: var(--secondary-color);
	}

	&__no-style {
		background: none;
		border: none;
		@extend .font__weight-600;
		@extend .font__16px;
		color: var(--primary-color);

		&:hover,
		&:focus {
			box-shadow: 0px 1px 1px rgba(var(--box-shadow), 0.05), inset 0px 2px 0px rgba(var(--color-white-rgb), 0.05);
		}
	}

	&__more {
		background: var(--color-light);
		border: none;
		border-radius: 4px;
		margin-left: 16px;
		padding-left: 14px;
		padding-right: 14px;

		&.with-padding {
			padding: 11px 16px;
		}

		.name {
			max-width: 139px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
	}

	&__retry {
		border: none;
		background: var(--color-primary-500);
		border-radius: 4px;
		padding: 6px 9px;
		@extend .font__14px;
		color: var(--primary-color);

		&__force {
			background: var(--color-warning-500);
			color: var(--color-warning);
		}

		img {
			width: 14px;
			height: 14px;
		}
	}

	&--full {
		width: 90%;
	}

	&--full-100 {
		width: 100%;
	}

	&--round {
		border-radius: 50%;
	}

	&--has-icon {
		@extend .flex;
		@extend .flex__align-items-center;

		&.icon-center {
			@extend .flex__justify-center;
			img {
				max-height: 22px;
			}
		}
		&.icon-right {
			img {
				margin-left: 10px;
			}
		}

		&.icon-left {
			img {
				margin-right: 10px;
			}
		}

		&.small-icon {
			img {
				height: 16px;
				width: 16px;
			}
		}
	}

	&__clear {
		letter-spacing: 0.2px;
		@extend .font__14px;
		color: var(--primary-color);
		background: transparent;
		border: none;
		height: fit-content;
		padding: 0;
		&.dark {
			padding: 10px;
			color: var(--color-black);
		}
	}

	&__filter {
		background: var(--color-white-100);
		border: 1px solid var(--line-border-2);
		box-sizing: border-box;
		border-radius: 10px;
		height: 36px;
		padding: 5px 10px;
		min-width: 110px;
		@extend .flex;
		@extend .flex__align-items-center;
		@extend .font__weight-500;
		@extend .font__14px;
		color: var(--grey-color);

		img {
			width: 14px;
			height: 14px;

			&.right-image {
				margin-left: auto;
			}
		}

		input {
			border: none;
			background: none;
			width: 0px;
			color: var(--primary-color);
			&:focus {
				border: none;
				outline: none;
			}
		}
		&.active {
			@extend .text--left;
			color: var(--primary-color);
			@extend .font__weight-500;
			input {
				width: 70px;
			}
		}
	}

	&--container {
		@extend .flex;
		@extend .flex__justify-end;

		&.margin-top {
			margin-top: 40px;
		}

		&.margin-bottom {
			margin-bottom: 40px;
		}

		&.center {
			@extend .flex__justify-center;
		}

		&.left {
			@extend .flex__justify-start;
		}
		img {
			height: 15px;
			width: 15px;
		}
	}

	&--small-padding {
		padding: 13px 20px;
		min-width: unset;
	}
	&.margin-top {
		margin-top: 15px;
	}
	&--align-self {
		align-self: stretch;
		width: 100%;
	}
}
button:hover {
	cursor: pointer;
}
.disabled,
button:disabled {
	cursor: not-allowed;
	opacity: 0.4;
	text-decoration: none;
	pointer-events: none;
	cursor: not-allowed;
}
