.button {
  cursor: pointer;
  border: none;
  @extend .font__weight-500;
  @extend .font__16px;
  border-radius: 10px;
  white-space: nowrap;
  padding: 13px 40px;
  height: 50px;
  min-width: 200px;
  //   to be removed
  // margin-right: 30px;
  &__primary {
    background: linear-gradient(
      0deg,
      var(--primary-color-2) 0%,
      var(--primary-color) 100%
    );
    border: 1px solid var(--primary-color);
    box-shadow: 0px 1px 1px rgba(var(--box-shadow), 0.1),
      inset 0px 2px 0px rgba(var(--color-white-rgb), 0.06);
    color: var(--color-white-100);
  }

  &__small {
    height: 38px;
    @extend .font__weight-500;
    @extend .font__14px;
    padding: 8px 30px;
  }

  &__deactivate {
    background: var(--color-deactivate);
    border: 1px solid var(--color-primary-500);
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(var(--box-shadow), 0.05),
      inset 0px 2px 0px rgba(var(--color-white), 0.05);
    @extend .font__weight-500;
    @extend .font__16px;
    color: var(--color-white-100);
    // review
    height: 56px;
  }

  &__white {
    background: linear-gradient(
      0deg,
      var(--color-off-white) 0%,
      var(--color-white) 100%
    );
    border: 1px solid var(--line-border);
    box-shadow: 0px 1px 1px rgba(var(--box-shadow), 0.05),
      inset 0px 2px 0px rgba(var(--color-white-rgb), 0.05);
    @extend .font__weight-500;
    @extend .font__14px;
    color: var(--secondary-color);
  }

  &__no-style {
    background: none;
    border: none;
    @extend .font__weight-600;
    @extend .font__16px;
    color: var(--primary-color);
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(var(--box-shadow), 0.05),
        inset 0px 2px 0px rgba(var(--color-white-rgb), 0.05);
    }
  }
  &__more {
    background: var(--color-light);
    border-radius: 4px;
    margin-left: 16px;
    padding-left: 14px;
    padding-right: 14px;
  }

  &--full {
    width: 90%;
  }
  &--full-100 {
    width: 100%;
  }
  &--round {
    border-radius: 50%;
  }
  &--has-icon {
    @extend .flex;
    @extend .flex__align-items-center;
    @extend .flex__justify-center;

    &.icon-right {
      img {
        margin-left: 10px;
      }
    }

    &.icon-left {
      img {
        margin-right: 10px;
      }
    }
  }

  .clear {
    letter-spacing: 0.2px;
    @extend .font__14px;
    color: var(--primary-color);
    background: transparent;
    padding: 0;
  }
}
.disabled,
button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
  text-decoration: none;
  pointer-events: none;
  cursor: not-allowed;
}
