.card {
  background: var(--color-white);
  border: 1px solid var(--line-border);
  border-radius: 8px;
  padding: 24px;
  &.has-title {
    padding: 0;
  }
  &.with-shadow {
    box-shadow: 0px 2px 4px rgba(var(--drop-shadow), 0.04),
      0px 4px 20px -2px rgba(var(--drop-shadow-2), 0.08);
    border: none;
  }
  &.without-padding{
    padding: 0;
  }
  &--title {
    border-bottom: 1px solid var(--line-border);
    padding: 24px 24px 16px;

    h3 {
      @extend .font__weight-700;
    }
  }
  &--container {
    padding: 16px 24px;
  }
}
