.get-started {
	.subtext {
		letter-spacing: 0.004em;
	}
	&__cards {
		@extend .grid;
		@extend .grid__col-3;
		@extend .grid--gap-32px;
		margin-top: 56px;
		margin-bottom: 56px;
		&_item {
			border-radius: 16px;
			padding: 32px;

			button {
				border-radius: 6px;
				@extend .font__weight-600;
				@extend .font__14px;
				color: var(--text-color);
				padding: 9px 24px;
				border: none;
			}
			p {
				@extend .font__weight-500;
				@extend .font__14px;
				letter-spacing: 0.004em;
				color: var(--grey-color);
				max-width: 293px;
				min-height: 88px;
				@extend .margin-bottom__24px;
			}
			&.green {
				background: var(--green-bg);
				button {
					background: var(--green-button-bg);
				}
			}
			&.yellow {
				background: var(--yellow-bg);
				button {
					background: var(--yellow-button-bg);
				}
			}
			&.purple {
				background: rgba(var(--purple-bg), 0.1);
				button {
					background: var(--purple-button-bg);
				}
			}
		}
	}
}

// projects / groups page
.groups-page {
	.groups {
		@extend .grid;
		grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));
		gap: 24px 32px;

		.group {
			background: var(--color-white);
			border: 1px solid var(--line-border);
			border-radius: 8px;

			img {
				width: 100%;
			}

			&--head {
				padding: 24px 24px 14px;
				border-bottom: 1px solid var(--line-border);

				h4 {
					@extend .font__weight-500;
					color: var(--color-black);
					&:hover {
						cursor: pointer;
					}
				}
			}

			&--metric {
				@extend .flex;
				@extend .flex__align-items-center;
				border-bottom: 1px solid var(--line-border);

				div {
					padding: 8px 24px;
					@extend .font__weight-500;
					@extend .font__12px;
					color: var(--grey-color);

					&:not(:last-of-type) {
						border-right: 1px solid var(--line-border);
					}

					&.group--metric--app {
						padding: 0;
						div {
							border-right: unset;
						}
					}
				}

				.dropdown {
					div {
						padding: 0;
					}
				}

				span {
					@extend .font__weight-500;
					@extend .font__12px;
					color: var(--color-black);
					@extend .margin-right__8px;
				}

				&--app {
					@extend .flex;
					@extend .flex__justify-between;
					@extend .flex__align-items-center;
					width: 57%;
					button {
						background: transparent;
						border: none;
						padding: 0;
					}
				}
			}

			&--body {
				height: 109px;
				padding-top: 16px;
				:hover {
					cursor: pointer;
				}
			}
		}
	}
}

.account-page {
	@extend .flex;
	padding: 0;

	&--nav {
		border-right: 1px solid var(--line-border);
		min-width: 260px;
		width: 260px;
	}

	&--head {
		border-bottom: 1px solid var(--line-border);
		padding: 16px 24px 10px;

		h2 {
			font-weight: 600;
			font-size: 16px;
			line-height: 30px;
		}
	}

	&--nav--item {
		margin: 30px 0;
		padding-left: 22px;
		font-weight: normal;
		font-size: 14px;
		line-height: 22px;

		button {
			color: #737a91;
		}

		&.active {
			color: var(--primary-color);
			position: relative;

			&::before {
				position: absolute;
				content: '';
				width: 3px;
				height: 16px;
				background-color: var(--primary-color);
				left: 0;
				top: 50%;
				transform: translate(0, -50%);
				border-radius: 100px;
			}

			button {
				font-weight: 600;
				color: var(--primary-color);
			}
		}

		& + hr {
			margin-left: 24px;
		}
	}

	&--view {
		padding: 32px;
		width: 100%;

		.user-details--head {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid #edeff5;
			padding-bottom: 26px;

			& > div {
				display: flex;
				align-items: center;
				&.password {
					display: block;
					h3 {
						font-weight: 600;
						font-size: 18px;
						line-height: 30px;
						margin-bottom: 4px;
					}
					p {
						max-width: 383px;
					}
				}

				img {
					margin-right: 16px;
				}

				button {
					margin: 0;
					padding: 6px 13px;
					font-weight: 500;
					font-size: 12px;
					line-height: 200%;
					color: #32587d;
				}
			}

			button.primary {
				padding: 8px 18px;
				font-size: 14px;
			}
		}

		.user-details--head {
			border-bottom: 1px solid var(--line-border);
		}

		h2 {
			font-weight: 600;
			font-size: 20px;
			line-height: 30px;
			margin-bottom: 8px;
		}

		p {
			font-size: 14px;
			line-height: 22px;
			color: #7987a3;
		}

		form {
			@extend .flex;
			@extend .flex__wrap;
			@extend .flex__justify-between;
			@extend .flex__align-items-start;
			padding-bottom: 0;

			.input {
				&.without-margin {
					margin-bottom: 0;
				}
				&.extra-space {
					margin-bottom: 41px;
				}
			}

			input {
				margin-top: 0;
			}
		}

		button.white {
			font-size: 14px;
		}

		.danger {
			color: var(--danger-color);
		}
	}
}

.modal {
	width: 624px;

	.modal--body {
		height: unset;
	}
}
