.dropdown {
	position: relative;

	&__menu {
		position: absolute;
		top: 110%;
		width: calc(100% + 50px);
		left: 5%;
		background: var(--color-white);
		border: 1px solid var(--line-border);
		box-shadow: 0px 2px 8px rgba(var(--drop-shadow), 0.08), 0px 3px 8px -1px rgba(var(--drop-shadow-2), 0.05);
		border-radius: 12px;
		height: 0;
		z-index: 5;
		opacity: 0;
		height: 0px;
		overflow: hidden;

		&__item {
			@extend .flex;
			@extend .flex__align-items-center;
			@extend .flex__justify-between;
			padding-top: 8px;
			padding-bottom: 8px;

      &.with-border {
        border-bottom: 1px solid var(--line-border);
      }
    }

    &__nav {
      right: 5%;
      left: unset;
    }

			&.with-border {
				border-bottom: 1px solid var(--line-border);
			}
		}

		&__nav {
			right: 5%;
			left: unset;
		}

    &.with-padding {
      padding: 24px 16px;
      &.smaller {
        padding: 8px 16px;
      }
    }
    &.small {
      width: 180px;
    }
    &.larger {
      width: 440px;
    }
    &.large {
      width: 249px;
      &.show {
        max-height: unset;
        height: fit-content;
      }
    }
    &.show {
      transition: 0.3s ease-in-out height;
      opacity: 1;
      height: unset;
      height: fit-content;
      overflow: auto;
    }
  }
