.dropdown {
	position: relative;

	&__menu {
		position: absolute;
		top: 110%;
		width: 100%;
		background: var(--color-white);
		border: 1px solid var(--line-border);
		box-shadow: 0px 2px 8px rgba(var(--drop-shadow), 0.08), 0px 3px 8px -1px rgba(var(--drop-shadow-2), 0.05);
		border-radius: 12px;
		height: 0;
		z-index: 5;
		opacity: 0;
		height: 0px;
		overflow: hidden;

		&__item {
			@extend .flex;
			@extend .flex__align-items-center;
			@extend .flex__justify-between;
			padding-top: 8px;
			padding-bottom: 8px;

			label {
				@extend .font__12px;
				display: block;
				width: 100%;
				color: var(--color-black);
			}

			&.with-border {
				border-bottom: 1px solid var(--line-border);
			}
		}

		&__push-left {
			left: 5%;
		}

		&__nav {
			right: 5%;
			left: unset;
		}

		&__form {
			top: 55%;
			left: unset;
		}

		.title {
			@extend .font__weight-600;
			@extend .font__14px;
			color: var(--grey-color);
			padding: 24px 32px 18px 32px;
			&__with-sub {
				padding: 24px 32px 16px 32px;
				color: var(--color-black);
				margin-bottom: 4px;
				border-bottom: 1px solid var(--line-border);
				&-sub {
					@extend .font__12px;
				}
			}
		}
		&__secondary {
			ul {
				li {
					padding: 18px 32px 16px 32px;
					color: var(--grey-color);
				}
			}
		}
		ul {
			li {
				padding: 18px 32px 16px 32px;
				@extend .font__weight-500;
				@extend .font__14px;
				color: var(--color-black);

				&.danger {
					color: var(--danger-color);
				}
				&.logout {
					border-top: 1px solid var(--line-border);
					padding: 32px;
					a {
						@extend .font__weight-500;
						@extend .font__14px;
						color: var(--danger-color);

						&:hover {
							cursor: pointer;
						}
					}
				}
				&.active,
				&:hover {
					background: var(--color-primary-500);
					transition: 0.3s ease-in-out;
				}
				&.no-hover {
					&.active,
					&:hover {
						background: none;
					}
				}
			}
		}
		.base-button {
			background: var(--color-white-100);
			border: 1px solid var(--line-border);
			@extend .font__weight-500;
			@extend .font__14px;
			color: var(--color-black);
			border-radius: 0px 0px 12px 12px;
			padding: 26px 34px;
			@extend .flex;
			@extend .flex__align-items-center;
			width: 100%;
			img {
				height: 20px;
				width: 20px;
				margin-right: 12px;
			}
		}

		&.with-padding {
			padding: 24px 16px;

			&.smaller {
				padding: 8px 16px 16px;
			}
		}

		&.small {
			width: 196px;
		}
		&.smaller {
			width: 149px;
		}

		&.larger {
			width: 440px;
		}
		&.large {
			width: 249px;
			&.show {
				max-height: unset;
				height: fit-content;
			}
		}
		&.show {
			transition: 0.3s ease-in-out height;
			opacity: 1;
			height: unset;
			height: fit-content;
			overflow: auto;
		}
	}

	&--full-100 {
		width: 100%;
	}
}
