.input {
  margin-bottom: 24px;
  @extend .flex;
  @extend .flex__column;
  width: 100%;
  position: relative;
  input,
  select,
  textarea {
    background: var(--color-white);
    border: 1px solid var(--line-border);
    border-radius: 4px;
    padding: 13px 20px;
    transition: all 0.3s;
    @extend .font__weight-500;
    @extend .font__14px;
    margin-top: 8px;
    min-height: 50px;
    width: 100%;

    &.danger {
			border: 1px solid var(--color-danger);
		}

    &::placeholder,
    &:disabled {
      color: rgba(var(--grey-color-rgb), 0.24);
    }
    &:focus {
      background: rgba(var(--primary-color-rgb), 0.04);
      border: 1px solid var(--primary-color);
      outline: var(--primary-color);
      padding: 6px 20px;
    }
    
  }
  label {
    @extend .font__weight-500;
    @extend .font__14px;
    text-transform: capitalize;
    color: var(--grey-alt);
    position: absolute;
    margin-left: 20px;
    top: 23px;
    transition: 0.3s ease-in-out all;
  }
  input:focus + label {
    @extend .font__10px;
    margin-left: 19px;
    top: 12px;
  }
  &__error {
    @extend .flex;
    @extend .flex__align-items-center;
    margin-top: 8px;
    img {
      margin-right: 8px;
      width: 16px;
      height: 16px;
    }
    &__success {
      color: var(--color-success);
    }
    &__info {
      color: var(--primary-color);
    }
    &__warning {
      color: var(--color-warning);
    }
    &__danger {
      color: var(--color-danger);
    }
  }
}
