
.input {
  margin-bottom: 24px;
  @extend .flex;
  @extend .flex__column;
  width: 100%;
  position: relative;
  input,
  select,
  textarea {
    background: var(--color-white);
    border: 1px solid var(--line-border);
    border-radius: 4px;
    padding: 14px 20px 12px 18px;
    appearance: none;
    transition: all 0.3s;
    @extend .font__weight-500;
    @extend .font__14px;
    margin-top: 8px;
    width: 100%;

    &::placeholder,
    &:disabled {
      color: rgba(var(--grey-color-rgb), 0.24);
    }
    &:focus {
      background: rgba(var(--primary-color-rgb), 0.04);
      border: 1px solid var(--primary-color);
      outline: var(--primary-color);
    }
  }

  &__error {
    @extend .flex;
    @extend .flex__align-items-center;
    margin-top: 8px;
    img {
      margin-right: 8px;
      width: 16px;
      height: 16px;
    }
    &__success{
      color: var(--color-success);
    }
    &__info{
      color: var(--primary-color);
    }
    &__warning{
      color: var(--color-warning);
    }
    &__danger{
      color: var(--color-danger);
    }
  }
}
