.margin {
  &-top {
    &__16px {
      margin-top: 16px;
    }
    &__18px {
      margin-top: 18px;
    }
    &__20px {
      margin-top: 20px;
    }
    &__22px {
      margin-top: 22px;
    }
    &__24px {
      margin-top: 24px;
    }
    &__26px {
      margin-top: 26px;
    }
    &__28px {
      margin-top: 28px;
    }
    &__30px {
      margin-top: 30px;
    }
    &__32px {
      margin-top: 32px;
    }
  }
  &-bottom {
    &__16px {
      margin-bottom: 16px;
    }
    &__18px {
      margin-bottom: 18px;
    }
    &__20px {
      margin-bottom: 20px;
    }
    &__22px {
      margin-bottom: 22px;
    }
    &__24px {
      margin-bottom: 24px;
    }
    &__26px {
      margin-bottom: 26px;
    }

    &__28px {
      margin-bottom: 28px;
    }
    &__30px {
      margin-bottom: 30px;
    }
    &__32px {
      margin-bottom: 32px;
    }
  }
  &-left {
    &__16px {
      margin-left: 16px;
    }
    &__18px {
      margin-left: 18px;
    }
    &__20px {
      margin-left: 20px;
    }
  }
  &-right {
    &__16px {
      margin-right: 16px;
    }
    &__18px {
      margin-right: 18px;
    }
    &__20px {
      margin-right: 20px;
    }
    &__22px {
      margin-right: 22px;
    }
    &__24px {
      margin-right: 24px;
    }
  }
}
