._overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(var(--color-dark), 0.5);
}
.modal {
	position: fixed;
	width: 100%;
	max-width: 600px;
	background: var(--color-white);

	&__center {
		width: 420px;
		border-radius: 16px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		.modal--body {
			height: fit-content;
		}
		&.large {
			width: 600px;
			height: fit-content;
			max-height: 440px;
		}
	}

	&__right {
		transform: translate(0, 0);
		top: 0;
		right: 0;
		bottom: 0;
		left: unset;
		max-width: 460px;
		overflow-y: auto;
		.modal--body {
			min-height: calc(100vh - (113px + 75px));
		}
	}
	&--head {
		@extend .flex;
		@extend .flex__align-items-center;
		@extend .flex__justify-between;
		border-bottom: 1px solid var(--line-border);
		padding: 24px;
		margin-bottom: 24px;
	}

	&--body {
		padding: 0 24px 24px;
		overflow: auto;
		p {
			@extend .font__14px;
			color: var(--grey-color);
			max-width: 346px;
			text-align: center;
			margin: 0 auto;
			padding-top: 12px;
			padding-bottom: 32px;
			&.title {
				@extend .font__weight-600;
				@extend .font__20px;
				color: var(--color-black);
				padding: 0;
			}
			&.subtext {
				@extend .font__weight-500;
				@extend .font__14px;
				color: var(--grey-color);
				margin-bottom: 34px;
				margin-top: 8px;
				padding: 0;
			}
		}
		&.deactivate {
			padding: 40px;
		}
		&.success {
			padding: 100px 30px;
			.subtext {
				margin-bottom: 20px;
			}
		}
		&.delete {
			padding: 71px;
			img {
				height: 126px;
				width: 126px;
			}
		}
	}

	&--footer {
		@extend .flex;
		@extend .flex__justify-between;
		border-top: 1px solid var(--line-border);
		padding: 11px 24px;
		border-radius: 0px 0px 16px 16px;
		&__with-shadow {
			border-top: none;
			box-shadow: 20px 0px 34px rgba(var(--color-dark), 0.05);
		}

		.button {
			min-width: 120px;
			&--container {
				@extend .flex__justify-between;
			}
		}
	}
}
