.padding {
	&-top {
		&--unset {
			padding-top: unset !important;
		}
		&__0px {
			padding-top: 0 !important;
		}
		&__2px {
			padding-top: 2px;
		}
		&__4px {
			padding-top: 4px;
		}
		&__6px {
			padding-top: 6px;
		}
		&__8px {
			padding-top: 8px;
		}
		&__10px {
			padding-top: 10px;
		}
		&__12px {
			padding-top: 12px;
		}
		&__14px {
			padding-top: 14px;
		}
		&__16px {
			padding-top: 16px;
		}
		&__18px {
			padding-top: 18px;
		}
		&__20px {
			padding-top: 20px;
		}
		&__22px {
			padding-top: 22px;
		}
		&__24px {
			padding-top: 24px;
		}
		&__26px {
			padding-top: 26px;
		}
		&__28px {
			padding-top: 28px;
		}
		&__30px {
			padding-top: 30px;
		}
		&__32px {
			padding-top: 32px;
		}
		&__34px {
			padding-top: 34px;
		}
		&__36px {
			padding-top: 36px;
		}
		&__38px {
			padding-top: 38px;
		}
		&__40px {
			padding-top: 40px;
		}
	}

	&-bottom {
		&--unset {
			padding-bottom: unset !important;
		}
		&__0px {
			padding-bottom: 0 !important;
		}
		&__2px {
			padding-bottom: 2px;
		}
		&__4px {
			padding-bottom: 4px;
		}
		&__6px {
			padding-bottom: 6px;
		}
		&__8px {
			padding-bottom: 8px;
		}
		&__10px {
			padding-bottom: 10px;
		}
		&__12px {
			padding-bottom: 12px;
		}
		&__14px {
			padding-bottom: 14px;
		}
		&__16px {
			padding-bottom: 16px;
		}
		&__18px {
			padding-bottom: 18px;
		}
		&__20px {
			padding-bottom: 20px;
		}
		&__22px {
			padding-bottom: 22px;
		}
		&__24px {
			padding-bottom: 24px;
		}
		&__26px {
			padding-bottom: 26px;
		}
		&__28px {
			padding-bottom: 28px;
		}
		&__30px {
			padding-bottom: 30px;
		}
		&__32px {
			padding-bottom: 32px;
		}
		&__32px {
			padding-bottom: 32px;
		}
		&__34px {
			padding-bottom: 34px;
		}
		&__36px {
			padding-bottom: 36px;
		}
		&__38px {
			padding-bottom: 38px;
		}
		&__40px {
			padding-bottom: 40px;
		}
	}

	&-left {
		&--unset {
			padding-left: unset !important;
		}
		&__0px {
			padding-left: 0 !important;
		}
		&__2px {
			padding-left: 2px;
		}
		&__4px {
			padding-left: 4px;
		}
		&__6px {
			padding-left: 6px;
		}
		&__8px {
			padding-left: 8px;
		}
		&__10px {
			padding-left: 10px;
		}
		&__12px {
			padding-left: 12px;
		}
		&__14px {
			padding-left: 14px;
		}
		&__16px {
			padding-left: 16px;
		}
		&__18px {
			padding-left: 18px;
		}
		&__20px {
			padding-left: 20px;
		}
		&__22px {
			padding-left: 22px;
		}
		&__24px {
			padding-left: 24px;
		}
		&__26px {
			padding-left: 26px;
		}
		&__28px {
			padding-left: 28px;
		}
		&__30px {
			padding-left: 30px;
		}
		&__32px {
			padding-left: 32px;
		}
	}

	&-right {
		&--unset {
			padding-right: unset !important;
		}
		&__0px {
			padding-right: 0 !important;
		}
		&__2px {
			padding-right: 2px;
		}
		&__4px {
			padding-right: 4px;
		}
		&__6px {
			padding-right: 6px;
		}
		&__8px {
			padding-right: 8px;
		}
		&__10px {
			padding-right: 10px;
		}
		&__12px {
			padding-right: 12px;
		}
		&__14px {
			padding-right: 14px;
		}
		&__16px {
			padding-right: 16px;
		}
		&__18px {
			padding-right: 18px;
		}
		&__20px {
			padding-right: 20px;
		}
		&__22px {
			padding-right: 22px;
		}
		&__24px {
			padding-right: 24px;
		}
		&__26px {
			padding-right: 26px;
		}
		&__28px {
			padding-right: 28px;
		}
		&__30px {
			padding-right: 30px;
		}
		&__32px {
			padding-right: 32px;
		}
	}

	&-all {
		&--unset {
			padding: unset !important;
		}
		&__0px {
			padding: 0 !important;
		}
		&__2px {
			padding: 2px;
		}
		&__4px {
			padding: 4px;
		}
		&__6px {
			padding: 6px;
		}
		&__8px {
			padding: 8px;
		}
		&__10px {
			padding: 10px;
		}
		&__12px {
			padding: 12px;
		}
		&__14px {
			padding: 14px;
		}
		&__16px {
			padding: 16px;
		}
		&__18px {
			padding: 18px;
		}
		&__20px {
			padding: 20px;
		}
		&__22px {
			padding: 22px;
		}
		&__24px {
			padding: 24px;
		}
		&__26px {
			padding: 26px;
		}
		&__28px {
			padding: 28px;
		}
		&__30px {
			padding: 30px;
		}
		&__32px {
			padding: 32px;
		}
		&__34px {
			padding: 34px;
		}
		&__36px {
			padding: 36px;
		}
		&__38px {
			padding: 38px;
		}
		&__40px {
			padding: 40px;
		}
	}

	&-y {
		&--unset {
			@extend .padding-top--unset;
			@extend .padding-bottom--unset;
		}
		&__0px {
			@extend .padding-top__0px;
			@extend .padding-bottom__0px;
		}
		&__2px {
			@extend .padding-top__2px;
			@extend .padding-bottom__2px;
		}
		&__4px {
			@extend .padding-top__4px;
			@extend .padding-bottom__4px;
		}
		&__6px {
			@extend .padding-top__6px;
			@extend .padding-bottom__6px;
		}
		&__8px {
			@extend .padding-top__8px;
			@extend .padding-bottom__8px;
		}
		&__10px {
			@extend .padding-top__10px;
			@extend .padding-bottom__10px;
		}
	}

	&-x {
		&--unset {
			@extend .padding-right--unset;
			@extend .padding-left--unset;
		}

		&__0px {
			@extend .padding-right__0px;
			@extend .padding-left__0px;
		}

		&__2px {
			@extend .padding-right__2px;
			@extend .padding-left__2px;
		}

		&__4px {
			@extend .padding-right__4px;
			@extend .padding-left__4px;
		}

		&__6px {
			@extend .padding-right__6px;
			@extend .padding-left__6px;
		}

		&__8px {
			@extend .padding-right__8px;
			@extend .padding-left__8px;
		}

		&__10px {
			@extend .padding-right__10px;
			@extend .padding-left__10px;
		}

		&__12px {
			@extend .padding-right__12px;
			@extend .padding-left__12px;
		}

		&__24px {
			@extend .padding-right__24px;
			@extend .padding-left__24px;
		}
	}
}
