.grid {
  display: grid;

  &__with-margin {
    margin-bottom: 40px;
  }
  &__col-3 {
    grid-template-columns: repeat(auto-fit, minmax(357px, 1fr));
    gap: 32px;
  }
  &__col-4 {
    grid-template-columns: repeat(auto-fit, minmax(257px, 1fr));
    gap: 32px;
  }
  &__align-items-center {
    align-items: center;
  }
}
.flex {
  display: flex;
  &__with-margin {
    margin-bottom: 40px;
  }
  &__row {
    flex-flow: row;
  }
  &__column {
    flex-flow: column;
  }
  &__column-reverse {
    flex-flow: column-reverse;
  }
  &__align-items-stretch {
    align-items: stretch;
  }
  &__align-items-center {
    align-items: center;
  }
  &__align-items-start {
    align-items: flex-start;
  }
  &__wrap {
    flex-wrap: wrap;
  }
  &__justify-end {
    justify-content: flex-end;
  }
  &__justify-center {
    justify-content: center;
  }
  &__justify-around {
    justify-content: space-around;
  }
  &__justify-between {
    justify-content: space-between;
  }
}

.page {
  background: var(--color-background);
  .heading {
    @extend .font__16px;
    @extend .font__weight-700;
    color: var(--color-black);
    margin-bottom: 8px;
    &-sub {
      @extend .font__weight-500;
      @extend .font__14px;
      color: var(--grey-color);
    }
  }
  .container {
    max-width: 1375px;
    margin: 32px auto;
    background-color: var(--color-white);
    padding: 100px;
  }
}

.dashboard {
  &--header {
    background: var(--color-white);
    width: 100%;

    &--container {
      @extend .flex;
      @extend .flex__align-items-center;
      @extend .flex__justify-between;
      width: 1374px;
      margin: auto;
      background: var(--color-white);
      padding: 12px 20px;
    }
    .user {
      background: var(--color-light);
      border: 1px solid var(--color-light);
      border-radius: 4px;
      padding: 11px 16px;
      @extend .flex;
      @extend .flex__align-items-center;
      @extend .flex__justify-center;
      max-width: 256px;
      width: 100%;
      position: relative;
      & > div {
        @extend .flex;
        @extend .flex__align-items-center;
      }
      .icon {
        width: 24px;
        height: 24px;
        @extend .flex;
        @extend .flex__align-items-center;
        @extend .flex__justify-center;
        background: var(--secondary-color);
        color: var(--color-white);
        border-radius: 50%;
        margin-right: 8px;
      }

      .name {
        @extend .font__weight-500;
        font-size: 14px;
        line-height: 14px;
      }
    }
    .logo {
      img {
        width: 100px;
      }

      & + div {
        @extend .flex;
        @extend .flex__align-items-center;

        a {
          color: var(--primary-color);
          @extend .font__weight-700;
          margin-right: 20px;
          min-width: 90px;
        }
      }
    }
  }
  &--page {
    width: 1374px;
    margin: 32px auto;
    padding: 0 2rem;
    &--details {
      @extend .flex;
      @extend .flex__justify-between;

      &--chart {
        padding: 0;
        max-width: 850px;
        width: 100%;

        h3 {
          @extend .font__weight-700;
          margin-bottom: 30px;
        }

        & > div {
          padding: 24px;
        }
      }

      &--credentials {
        max-width: 428px;
        width: 100%;
      }
    }

    &--head {
      @extend .flex;
      @extend .flex__align-items-center;
      @extend .flex__justify-between;
    }
  }

  .metrics {
    @extend .grid;
    grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
    min-height: 76px;
    @extend .grid__align-items-center;
    border-bottom: 1px solid var(--line-border);

    li {
      padding: 16px 30px;
      @extend .flex;
      @extend .flex__align-items-center;

      &:not(:last-of-type) {
        border-right: 1px solid var(--line-border);
      }

      img {
        margin-right: 30px;
      }

      div {
        &:first-of-type {
          @extend .font__weight-500;
          @extend .font__16px;
        }

        &:last-of-type {
          @extend .font__weight-400;
          @extend .font__14px;
        }
      }
    }
  }
}

.has-loader {
  position: relative;
}

.loading-icon {
  animation: rotating 1s linear infinite;
  width: 10%;

  @keyframes rotating {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
