.tabs {
  @extend .flex;
  border-bottom: 1px solid var(--line-border);
  width: 100%;
  @extend .flex__align-items-center;
  list-style: none;
  li {
    &::marker {
      display: none;
    }
    &:not(:last-of-type) {
      margin-right: 25px;
    }

    button {
      border-radius: 0;
      padding: 17px 18px;
      background: none;
      border: none;
      span {
        @extend .font__14px;
        @extend .font__weight-500;
        text-transform: capitalize;
        text-align: left;
        color: var(--grey-color);
        transition: .3s ease-in-out all;
      }
      &.active {
        transition: 0.3s ease-in-out;
        background: none;
        box-shadow: none;
        position: relative;
        span {
          @extend .font__weight-600;
          transition: 0.3s ease-in-out;
          color: var(--primary-color);
        }
        &::after {
          content: "";
          bottom: 0px;
          height: 3px;
          width: 100%;
          left: 0;
          right: 0;
          background: var(--primary-color);
          border-radius: 16px 16px 0px 0px;
          position: absolute;
        }
      }
    }
  }

  &__logs {
    border: none;
    padding-bottom: 10px;
    li {
      button {
        padding: 6.5px 28px;
        border: 1px solid transparent;
        @extend .font__weight-500;
        @extend .font__14px;
        letter-spacing: 0.01em;
        transition: all 0.3s;
        color: var(--color-black);
      }
      &.active {
        &::after {
          content: none;
        }

        button {
          border-color: rgba(var(--primary-color-rgb), 0.2);
          box-shadow: 0px 10px 25px rgba(var(--primary-color-rgb-2), 0.08);
          border-radius: 8px;
          color: var(--primary-color);
        }
      }
    }
  }
}
