table {
  width: 100%;
  border-collapse: collapse;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 50px;

  thead {
    background: var(--color-primary-500);
    th {
      text-align: left;
      color: var(--color-black);
      @extend .font__weight-500;
      @extend .font__14px;
      white-space: nowrap;
      padding-top: 10px;
      padding-bottom: 10px;

      &:first-child {
        padding-left: 16px;
      }
    }
  }
  tbody {
    tr {
      cursor: pointer;
      &:last-of-type {
        border-bottom: 1px solid var(--line-border);
      }
      &:not(.table--date-row) {
        &:hover,
        &.active,
        &:focus {
          transition: 0.3s ease-in-out;
          background: rgba(var(--primary-color-rgb), 0.05);
          border-radius: 8px;
        }
      }
      .has-retry {
        @extend .flex;
        @extend .flex__align-items-center;
        position: relative;
        width: 100%;

        img {
          width: 12px;
          position: absolute;
          top: 50%;
          transform: translate(-3px, -50%);
          opacity: 0.5;
        }
      }
      &.has-border {
        border-top: 1px solid var(--line-border);
      }
      td {
        & > div {
          padding-top: 10px;
          padding-bottom: 10px;
          @extend .font__14px;
          white-space: nowrap;
          text-transform: capitalize;
        }
        &:first-child {
          & > div {
            padding-left: 16px;
          }
        }
        &.has-long-text {
          & > div {
            width: 150px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }
      button {
        padding: 1px 8px;
        @extend .font__weight-500;
        @extend .font__12px;

        &.spin {
          @keyframes spin {
            100% {
              transform: rotate(360deg);
            }
          }

          img {
            animation: spin 5s linear infinite;
          }
        }

        img {
          width: 14px;
        }
      }
    }
  }
  &__no-style {
    background: var(--color-white);
    border: 1px solid var(--line-border);
    border-radius: 10px;
    thead {
      background: var(--color-white);
      border-radius: 10px;
      border-bottom: 1px solid var(--line-border);
      th {
        @extend .font__weight-700;
        @extend .font__12px;
        color: var(--color-black);
        text-transform: uppercase;
        white-space: nowrap;
        padding-top: 18px;
        padding-bottom: 18px;
        &:first-child {
          padding-left: 16px;
        }
      }
    }
    tbody {
      tr {
        &:not(:last-of-type) {
          border-bottom: 1px solid var(--line-border);
        }
        &:hover,
        &:focus {
          transition: 0.3s ease-in-out;
          background: var(--color-light);
          border-radius: 8px;
        }
        td {
          & > div {
            @extend .font__weight-500;
            @extend .font__14px;
            color: var(--grey-color);
          }
        }
      }
    }
  }

  &--load-more {
    border-top: 1px solid var(--line-border);

    button {
      @extend .font__weight-500;
      @extend .font__14px;
    }
  }

  &--date-row {
    border-top: 1px solid var(--line-border);
    border-bottom: 1px solid var(--line-border);
    @extend .font__12px;
    color: var(--grey-color);
  }
  &--actions {
    border-bottom: 1px solid var(--line-border);
    button {
      padding: 10px;
      color: var(--color-black);
      margin-right: 10px;
    }
    img {
      width: 15px;
    }
  }
  button {
    padding: 1px 8px;
    @extend .font__weight-500;
    @extend .font__12px;

    &.spin {
      @keyframes spin {
        100% {
          transform: rotate(360deg);
        }
      }

      img {
        animation: spin 5s linear infinite;
      }
    }

    img {
      width: 14px;
    }
  }
  .checkbox {
    @extend .flex;
    @extend .flex__align-items-center;

    input {
      margin: 0 20px 0;
    }
  }
}

.pagination {
  @extend .flex;
  @extend .flex__align-items-center;
  @extend .flex__justify-end;
  margin-top: 50px;

  button {
    padding: 5px;
  }
}
.empty-state {
  text-align: center;
  width: 100%;
  margin: auto;
  min-height: 300px;
  @extend .flex;
  @extend .flex__column;
  @extend .flex__align-items-center;

  p {
    margin-top: 20px;
    @extend .font__14px;
  }
}
.tag {
  padding: 1px 8px;
  background: rgba(var(--tag-shadow), 0.1);
  border-radius: 8px;
  width: fit-content;
  @extend .font__weight-500;
  @extend .font__12px;
  text-align: center;

  &--Failure {
    background: var(--color-failure);
    color: var(--danger-color);
  }

  &--Retry {
    background: var(--color-retry);
  }

  &--Success {
    background: var(--color-success);
    color: var(--success-color);
  }
}
